In [1]:
import numpy as np
import pandas as pd
import xlrd
import os
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score, KFold
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier,\
ExtraTreesClassifier, VotingClassifier, StackingRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder,\
OrdinalEncoder, MaxAbsScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import precision_score, recall_score, f1_score,\
accuracy_score, classification_report, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor
from xgboost import XGBClassifier
import xgboost as xgb
from matplotlib import pyplot as plt
import warnings

In [2]:
# Importing CSV of NCAAW regular season team data, pulled from Kaggle
season_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WRegularSeasonDetailedResults.csv')
season_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70002,2023,113,3268,96,3234,68,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70003,2023,113,3385,69,3163,64,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70004,2023,113,3416,57,3396,53,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70005,2023,113,3437,67,3177,64,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70006,2023,113,3466,75,3146,42,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [3]:
tourney_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WNCAATourneyDetailedResults.csv')
tourney_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2022,147,3163,91,3301,87,N,2,37,77,...,23,16,19,6,30,20,13,4,7,16
756,2022,147,3257,62,3276,50,N,0,25,58,...,14,15,20,10,24,9,21,6,2,12
757,2022,151,3163,63,3390,58,N,0,21,57,...,23,8,13,11,23,10,11,11,3,16
758,2022,151,3376,72,3257,59,N,0,27,57,...,8,4,7,11,18,5,15,13,2,17
759,2022,153,3376,64,3163,49,N,0,22,60,...,16,1,4,3,16,14,14,4,5,21

In [4]:
# Merging the two datasets, sorting by the season and the day number of the game so that
# the games line up in order
merged_df = pd.concat([season_df, tourney_df])

# sort the merged dataframe by "col_name" in ascending order
sorted_df = merged_df.sort_values(['Season', 'DayNum'], ascending = [True, True])

# reset the index
games_df = sorted_df.reset_index(drop = True)
games_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70763,2023,113,3385,69,3163,64,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70764,2023,113,3416,57,3396,53,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70765,2023,113,3437,67,3177,64,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70766,2023,113,3466,75,3146,42,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [5]:
# Creating a new column for the difference in points for each game
games_df['ScoreGap'] = games_df['WScore'] - games_df['LScore']
games_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,ScoreGap
0,2010,11,3103,63,3237,49,H,0,23,54,...,6,10,11,27,11,23,7,6,19,14
1,2010,11,3104,73,3399,68,N,0,26,62,...,14,27,14,26,7,20,4,2,27,5
2,2010,11,3110,71,3224,59,A,0,29,62,...,19,23,17,23,8,15,6,0,15,12
3,2010,11,3111,63,3267,58,A,0,27,52,...,16,25,22,22,15,11,14,5,14,5
4,2010,11,3119,74,3447,70,H,1,30,74,...,11,21,21,32,12,14,4,2,14,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,11,15,18,19,14,24,5,3,14,28
70763,2023,113,3385,69,3163,64,A,0,23,63,...,12,15,11,25,14,12,5,7,19,5
70764,2023,113,3416,57,3396,53,H,0,19,60,...,14,17,16,19,5,9,10,9,20,4
70765,2023,113,3437,67,3177,64,H,0,24,67,...,8,11,21,26,13,12,9,2,14,3
70766,2023,113,3466,75,3146,42,A,0,27,62,...,11,21,8,19,6,15,3,3,12,33

In [6]:
seeds_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WNCAATourneySeeds.csv')
seeds_df

      Season Seed  TeamID
0       1998  W01    3330
1       1998  W02    3163
2       1998  W03    3112
3       1998  W04    3301
4       1998  W05    3272
...      ...  ...     ...
1535    2022  Z12    3125
1536    2022  Z13    3138
1537    2022  Z14    3110
1538    2022  Z15    3218
1539    2022  Z16    3107

[1540 rows x 3 columns]

In [7]:
seeds_df['SeedNum'] = seeds_df['Seed'].str.extract('(\d+)').astype(int)
seeds_df

      Season Seed  TeamID  SeedNum
0       1998  W01    3330        1
1       1998  W02    3163        2
2       1998  W03    3112        3
3       1998  W04    3301        4
4       1998  W05    3272        5
...      ...  ...     ...      ...
1535    2022  Z12    3125       12
1536    2022  Z13    3138       13
1537    2022  Z14    3110       14
1538    2022  Z15    3218       15
1539    2022  Z16    3107       16

[1540 rows x 4 columns]

In [8]:
team_season_seed_dict = dict(zip(zip(seeds_df['TeamID'], seeds_df['Season']), seeds_df['SeedNum']))
team_season_seed_dict

{(3330, 1998): 1,
 (3163, 1998): 2,
 (3112, 1998): 3,
 (3301, 1998): 4,
 (3272, 1998): 5,
 (3438, 1998): 6,
 (3208, 1998): 7,
 (3307, 1998): 8,
 (3304, 1998): 9,
 (3203, 1998): 10,
 (3374, 1998): 11,
 (3464, 1998): 12,
 (3263, 1998): 13,
 (3365, 1998): 14,
 (3193, 1998): 15,
 (3384, 1998): 16,
 (3403, 1998): 1,
 (3104, 1998): 2,
 (3256, 1998): 3,
 (3345, 1998): 4,
 (3179, 1998): 5,
 (3155, 1998): 6,
 (3417, 1998): 7,
 (3283, 1998): 8,
 (3323, 1998): 9,
 (3276, 1998): 10,
 (3274, 1998): 11,
 (3161, 1998): 12,
 (3449, 1998): 13,
 (3221, 1998): 14,
 (3422, 1998): 15,
 (3212, 1998): 16,
 (3397, 1998): 1,
 (3314, 1998): 2,
 (3228, 1998): 3,
 (3235, 1998): 4,
 (3353, 1998): 5,
 (3435, 1998): 6,
 (3198, 1998): 7,
 (3443, 1998): 8,
 (3372, 1998): 9,
 (3266, 1998): 10,
 (3364, 1998): 11,
 (3332, 1998): 12,
 (3245, 1998): 13,
 (3453, 1998): 14,
 (3224, 1998): 15,
 (3251, 1998): 16,
 (3390, 1998): 1,
 (3181, 1998): 2,
 (3196, 1998): 3,
 (3234, 1998): 4,
 (3242, 1998): 5,
 (3458, 1998): 6,
 (3428, 1998): 7,
 (3218, 1998): 8,
 (3116, 1998): 9,
 (3257, 1998): 10,
 (3439, 1998): 11,
 (3408, 1998): 12,
 (3269, 1998): 13,
 (3285, 1998): 14,
 (3292, 1998): 15,
 (3217, 1998): 16,
 (3397, 1999): 1,
 (3330, 1999): 2,
 (3181, 1999): 3,
 (3439, 1999): 4,
 (3120, 1999): 5,
 (3408, 1999): 6,
 (3390, 1999): 7,
 (3130, 1999): 8,
 (3326, 1999): 9,
 (3263, 1999): 10,
 (3386, 1999): 11,
 (3400, 1999): 12,
 (3389, 1999): 13,
 (3221, 1999): 14,
 (3399, 1999): 15,
 (3111, 1999): 16,
 (3163, 1999): 1,
 (3155, 1999): 2,
 (3208, 1999): 3,
 (3235, 1999): 4,
 (3332, 1999): 5,
 (3405, 1999): 6,
 (3228, 1999): 7,
 (3462, 1999): 8,
 (3198, 1999): 9,
 (3257, 1999): 10,
 (3374, 1999): 11,
 (3153, 1999): 12,
 (3365, 1999): 13,
 (3251, 1999): 14,
 (3197, 1999): 15,
 (3384, 1999): 16,
 (3345, 1999): 1,
 (3403, 1999): 2,
 (3353, 1999): 3,
 (3314, 1999): 4,
 (3104, 1999): 5,
 (3112, 1999): 6,
 (3280, 1999): 7,
 (3266, 1999): 8,
 (3242, 1999): 9,
 (3301, 1999): 10,
 (3196, 1999): 11,
 (3212, 1999): 12,
 (3318, 1999): 13,
 (3171, 1999): 14,
 (3372, 1999): 15,
 (3331, 1999): 16,
 (3256, 1999): 1,
 (3161, 1999): 2,
 (3417, 1999): 3,
 (3261, 1999): 4,
 (3323, 1999): 5,
 (3246, 1999): 6,
 (3283, 1999): 7,
 (3336, 1999): 8,
 (3438, 1999): 9,
 (3364, 1999): 10,
 (3304, 1999): 11,
 (3388, 1999): 12,
 (3191, 1999): 13,
 (3453, 1999): 14,
 (3169, 1999): 15,
 (3416, 1999): 16,
 (3163, 2000): 1,
 (3181, 2000): 2,
 (3261, 2000): 3,
 (3345, 2000): 4,
 (3328, 2000): 5,
 (3462, 2000): 6,
 (3266, 2000): 7,
 (3179, 2000): 8,
 (3155, 2000): 9,
 (3443, 2000): 10,
 (3372, 2000): 11,
 (3140, 2000): 12,
 (3171, 2000): 13,
 (3251, 2000): 14,
 (3144, 2000): 15,
 (3214, 2000): 16,
 (3256, 2000): 1,
 (3336, 2000): 2,
 (3235, 2000): 3,
 (3330, 2000): 4,
 (3301, 2000): 5,
 (3228, 2000): 6,
 (3120, 2000): 7,
 (3242, 2000): 8,
 (3435, 2000): 9,
 (3283, 2000): 10,
 (3428, 2000): 11,
 (3374, 2000): 12,
 (3453, 2000): 13,
 (3384, 2000): 14,
 (3464, 2000): 15,
 (3108, 2000): 16,
 (3397, 2000): 1,
 (3323, 2000): 2,
 (3403, 2000): 3,
 (3438, 2000): 4,
 (3130, 2000): 5,
 (3408, 2000): 6,
 (3203, 2000): 7,
 (3112, 2000): 8,
 (3245, 2000): 9,
 (3417, 2000): 10,
 (3436, 2000): 11,
 (3304, 2000): 12,
 (3337, 2000): 13,
 (3399, 2000): 14,
 (3360, 2000): 15,
 (3202, 2000): 16,
 (3208, 2000): 1,
 (3353, 2000): 2,
 (3280, 2000): 3,
 (3364, 2000): 4,
 (3314, 2000): 5,
 (3332, 2000): 6,
 (3400, 2000): 7,
 (3276, 2000): 8,
 (3390, 2000): 9,
 (3386, 2000): 10,
 (3412, 2000): 11,
 (3263, 2000): 12,
 (3349, 2000): 13,
 (3389, 2000): 14,
 (3221, 2000): 15,
 (3285, 2000): 16,
 (3163, 2001): 1,
 (3208, 2001): 2,
 (3256, 2001): 3,
 (3301, 2001): 4,
 (3437, 2001): 5,
 (3336, 2001): 6,
 (3458, 2001): 7,
 (3268, 2001): 8,
 (3161, 2001): 9,
 (3281, 2001): 10,
 (3395, 2001): 11,
 (3179, 2001): 12,
 (3174, 2001): 13,
 (3209, 2001): 14,
 (3251, 2001): 15,
 (3254, 2001): 16,
 (3323, 2001): 1,
 (3235, 2001): 2,
 (3435, 2001): 3,
 (3234, 2001): 4,
 (3428, 2001): 5,
 (3160, 2001): 6,
 (3199, 2001): 7,
 (3276, 2001): 8,
 (3438, 2001): 9,
 (3408, 2001): 10,
 (3373, 2001): 11,
 (3193, 2001): 12,
 (3332, 2001): 13,
 (3226, 2001): 14,
 (3224, 2001): 15,
 (3108, 2001): 16,
 (3397, 2001): 1,
 (3403, 2001): 2,
 (3345, 2001): 3,
 (3462, 2001): 4,
 (3155, 2001): 5,
 (3261, 2001): 6,
 (3439, 2001): 7,
 (3400, 2001): 8,
 (3388, 2001): 9,
 (3176, 2001): 10,
 (3113, 2001): 11,
 (3151, 2001): 12,
 (3257, 2001): 13,
 (3364, 2001): 14,
 (3335, 2001): 15,
 (3122, 2001): 16,
 (3181, 2001): 1,
 (3328, 2001): 2,
 (3196, 2001): 3,
 (3353, 2001): 4,
 (3283, 2001): 5,
 (3449, 2001): 6,
 (3203, 2001): 7,
 (3124, 2001): 8,
 (3116, 2001): 9,
 (3390, 2001): 10,
 (3330, 2001): 11,
 (3405, 2001): 12,
 (3372, 2001): 13,
 (3221, 2001): 14,
 (3331, 2001): 15,
 (3454, 2001): 16,
 (3181, 2002): 1,
 (3124, 2002): 2,
 (3376, 2002): 3,
 (3400, 2002): 4,
 (3256, 2002): 5,
 (3153, 2002): 6,
 (3179, 2002): 7,
 (3395, 2002): 8,
 (3231, 2002): 9,
 (3393, 2002): 10,
 (3389, 2002): 11,
 (3364, 2002): 12,
 (3453, 2002): 13,
 (3251, 2002): 14,
 (3137, 2002): 15,
 (3313, 2002): 16,
 (3328, 2002): 1,
 (3390, 2002): 2,
 (3160, 2002): 3,
 (3403, 2002): 4,
 (3130, 2002): 5,
 (3261, 2002): 6,
 (3161, 2002): 7,
 (3337, 2002): 8,
 (3437, 2002): 9,
 (3408, 2002): 10,
 (3365, 2002): 11,
 (3280, 2002): 12,
 (3372, 2002): 13,
 (3380, 2002): 14,
 (3451, 2002): 15,
 (3216, 2002): 16,
 (3163, 2002): 1,
 (3345, 2002): 2,
 (3243, 2002): 3,
 (3336, 2002): 4,
 (3198, 2002): 5,
 (3116, 2002): 6,
 (3330, 2002): 7,
 (3438, 2002): 8,
 (3234, 2002): 9,
 (3208, 2002): 10,
 (3155, 2002): 11,
 (3166, 2002): 12,
 (3151, 2002): 13,
 (3245, 2002): 14,
 (3122, 2002): 15,
 (3384, 2002): 16,
 (3435, 2002): 1,
 (3397, 2002): 2,
 (3235, 2002): 3,
 (3314, 2002): 4,
 (3278, 2002): 5,
 (3196, 2002): 6,
 (3323, 2002): 7,
 (3458, 2002): 8,
 (3113, 2002): 9,
 (3307, 2002): 10,
 (3140, 2002): 11,
 (3424, 2002): 12,
 (3217, 2002): 13,
 (3396, 2002): 14,
 (3209, 2002): 15,
 (3324, 2002): 16,
 (3163, 2003): 1,
 (3345, 2003): 2,
 (3243, 2003): 3,
 (3435, 2003): 4,
 (3130, 2003): 5,
 (3112, 2003): 6,
 (3439, 2003): 7,
 (3277, 2003): 8,
 (3395, 2003): 9,
 (3210, 2003): 10,
 (3323, 2003): 11,
 (3330, 2003): 12,
 (3251, 2003): 13,
 (3217, 2003): 14,
 (3434, 2003): 15,
 (3131, 2003): 16,
 (3261, 2003): 1,
 (3400, 2003): 2,
 (3390, 2003): 3,
 (3326, 2003): 4,
 (3256, 2003): 5,
 (3278, 2003): 6,
 (3116, 2003): 7,
 (3453, 2003): 8,
 (3449, 2003): 9,
 (3153, 2003): 10,
 (3408, 2003): 11,
 (3337, 2003): 12,
 (3451, 2003): 13,
 (3444, 2003): 14,
 (3214, 2003): 15,
 (3402, 2003): 16,
 (3397, 2003): 1,
 (3437, 2003): 2,
 (3314, 2003): 3,
 (3336, 2003): 4,
 (3376, 2003): 5,
 (3160, 2003): 6,
 (3203, 2003): 7,
 (3438, 2003): 8,
 (3228, 2003): 9,
 (3328, 2003): 10,
 (3140, 2003): 11,
 (3151, 2003): 12,
 (3221, 2003): 13,
 (3122, 2003): 14,
 (3384, 2003): 15,
 (3106, 2003): 16,
 (3181, 2003): 1,
 (3403, 2003): 2,
 (3280, 2003): 3,
 (3353, 2003): 4,
 (3208, 2003): 5,
 (3307, 2003): 6,
 (3364, 2003): 7,
 (3428, 2003): 8,
 (3177, 2003): 9,
 (3462, 2003): 10,
 (3274, 2003): 11,
 (3150, 2003): 12,
 (3443, 2003): 13,
 (3264, 2003): 14,
 (3283, 2003): 15,
 (3209, 2003): 16,
 (3336, 2004): 1,
 (3163, 2004): 2,
 (3222, 2004): 3,
 (3314, 2004): 4,
 (3323, 2004): 5,
 (3160, 2004): 6,
 (3120, 2004): 7,
 (3439, 2004): 8,
 (3234, 2004): 9,
 (3301, 2004): 10,
 (3364, 2004): 11,
 (3283, 2004): 12,
 (3292, 2004): 13,
 (3453, 2004): 14,
 (3335, 2004): 15,
 (3214, 2004): 16,
 (3181, 2004): 1,
 (3243, 2004): 2,
 (3130, 2004): 3,
 (3403, 2004): 4,
 (3256, 2004): 5,
 (3326, 2004): 6,
 (3278, 2004): 7,
 (3330, 2004): 8,
 (3266, 2004): 9,
 (3417, 2004): 10,
 (3452, 2004): 11,
 (3285, 2004): 12,
 (3263, 2004): 13,
 (3185, 2004): 14,
 (3434, 2004): 15,
 (3322, 2004): 16,
 (3397, 2004): 1,
 (3435, 2004): 2,
 (3328, 2004): 3,
 (3124, 2004): 4,
 (3196, 2004): 5,
 (3390, 2004): 6,
 (3353, 2004): 7,
 (3203, 2004): 8,
 (3177, 2004): 9,
 (3151, 2004): 10,
 (3281, 2004): 11,
 (3307, 2004): 12,
 (3258, 2004): 13,
 (3265, 2004): 14,
 (3252, 2004): 15,
 (3159, 2004): 16,
 (3400, 2004): 1,
 (3345, 2004): 2,
 (3208, 2004): 3,
 (3261, 2004): 4,
 (3274, 2004): 5,
 (3395, 2004): 6,
 (3437, 2004): 7,
 (3277, 2004): 8,
 (3112, 2004): 9,
 (3279, 2004): 10,
 (3396, 2004): 11,
 (3268, 2004): 12,
 (3122, 2004): 13,
 (3251, 2004): 14,
 (3384, 2004): 15,
 (3380, 2004): 16,
 (3261, 2005): 1,
 (3181, 2005): 2,
 (3400, 2005): 3,
 (3336, 2005): 4,
 (3177, 2005): 5,
 (3208, 2005): 6,
 (3130, 2005): 7,
 (3328, 2005): 8,
 (3112, 2005): 9,
 (3222, 2005): 10,
 (3349, 2005): 11,
 (3439, 2005): 12,
 (3251, 2005): 13,
 (3331, 2005): 14,
 (3145, 2005): 15,
 (3391, 2005): 16,
 (3314, 2005): 1,
 (3124, 2005): 2,
 (3278, 2005): 3,
 (3323, 2005): 4,
 (3113, 2005): 5,
 (3438, 2005): 6,
 (3395, 2005): 7,
 (3279, 2005): 8,
 (3203, 2005): 9,
 (3332, 2005): 10,
 (3330, 2005): 11,
 (3184, 2005): 12,
 (3364, 2005): 13,
 (3384, 2005): 14,
 (3229, 2005): 15,
 (3164, 2005): 16,
 (3277, 2005): 1,
 (3390, 2005): 2,
 (3163, 2005): 3,
 (3243, 2005): 4,
 (3435, 2005): 5,
 (3199, 2005): 6,
 (3235, 2005): 7,
 (3425, 2005): 8,
 (3257, 2005): 9,
 (3428, 2005): 10,
 (3350, 2005): 11,
 (3285, 2005): 12,
 (3132, 2005): 13,
 (3171, 2005): 14,
 (3365, 2005): 15,
 (3108, 2005): 16,
 (3397, 2005): 1,
 (3326, 2005): 2,
 (3353, 2005): 3,
 (3403, 2005): 4,
 (3301, 2005): 5,
 (3396, 2005): 6,
 (3268, 2005): 7,
 (3307, 2005): 8,
 (3345, 2005): 9,
 (3453, 2005): 10,
 (3256, 2005): 11,
 (3292, 2005): 12,
 (3426, 2005): 13,
 (3216, 2005): 14,
 (3221, 2005): 15,
 (3441, 2005): 16,
 (3326, 2006): 1,
 (3268, 2006): 2,
 (3124, 2006): 3,
 (3113, 2006): 4,
 (3428, 2006): 5,
 (3196, 2006): 6,
 (3385, 2006): 7,
 (3130, 2006): 8,
 (3323, 2006): 9,
 (3143, 2006): 10,
 (3307, 2006): 11,
 (3292, 2006): 12,
 (3372, 2006): 13,
 (3319, 2006): 14,
 (3357, 2006): 15,
 (3324, 2006): 16,
 (3314, 2006): 1,
 (3397, 2006): 2,
 (3353, 2006): 3,
 (3345, 2006): 4,
 (3417, 2006): 5,
 (3401, 2006): 6,
 (3203, 2006): 7,
 (3435, 2006): 8,
 (3257, 2006): 9,
 (3330, 2006): 10,
 (3395, 2006): 11,
 (3132, 2006): 12,
 (3283, 2006): 13,
 (3171, 2006): 14,
 (3119, 2006): 15,
 (3415, 2006): 16,
 (3181, 2006): 1,
 (3163, 2006): 2,
 (3208, 2006): 3,
 (3277, 2006): 4,
 (3246, 2006): 5,
 (3396, 2006): 6,
 (3439, 2006): 7,
 (3425, 2006): 8,
 (3378, 2006): 9,
 (3281, 2006): 10,
 (3216, 2006): 11,
 (3151, 2006): 12,
 (3454, 2006): 13,
 (3265, 2006): 14,
 (3164, 2006): 15,
 (3380, 2006): 16,
 (3261, 2006): 1,
 (3328, 2006): 2,
 (3390, 2006): 3,
 (3177, 2006): 4,
 (3301, 2006): 5,
 (3199, 2006): 6,
 (3140, 2006): 7,
 (3278, 2006): 8,
 (3449, 2006): 9,
 (3234, 2006): 10,
 (3256, 2006): 11,
 (3409, 2006): 12,
 (3251, 2006): 13,
 (3369, 2006): 14,
 (3337, 2006): 15,
 (3194, 2006): 16,
 (3314, 2007): 1,
 (3345, 2007): 2,
 (3208, 2007): 3,
 (3401, 2007): 4,
 (3203, 2007): 5,
 (3235, 2007): 6,
 (3210, 2007): 7,
 (3143, 2007): 8,
 (3323, 2007): 9,
 (3177, 2007): 10,
 (3449, 2007): 11,
 (3129, 2007): 12,
 (3426, 2007): 13,
 (3125, 2007): 14,
 (3331, 2007): 15,
 (3341, 2007): 16,
 (3397, 2007): 1,
 (3268, 2007): 2,
 (3328, 2007): 3,
 (3326, 2007): 4,
 (3292, 2007): 5,
 (3266, 2007): 6,
 (3279, 2007): 7,
 (3338, 2007): 8,
 (3241, 2007): 9,
 (3395, 2007): 10,
 (3418, 2007): 11,
 (3211, 2007): 12,
 (3265, 2007): 13,
 (3369, 2007): 14,
 (3217, 2007): 15,
 (3179, 2007): 16,
 (3163, 2007): 1,
 (3390, 2007): 2,
 (3261, 2007): 3,
 (3301, 2007): 4,
 (3124, 2007): 5,
 (3462, 2007): 6,
 (3330, 2007): 7,
 (3307, 2007): 8,
 (3453, 2007): 9,
 (3199, 2007): 10,
 (3452, 2007): 11,
 (3151, 2007): 12,
 (3352, 2007): 13,
 (3421, 2007): 14,
 (3226, 2007): 15,
 (3420, 2007): 16,
 (3181, 2007): 1,
 (3435, 2007): 2,
 (3113, 2007): 3,
 (3353, 2007): 4,
 (3277, 2007): 5,
 (3257, 2007): 6,
 (3132, 2007): 7,
 (3396, 2007): 8,
 (3304, 2007): 9,
 (3329, 2007): 10,
 (3140, 2007): 11,
 (3174, 2007): 12,
 (3187, 2007): 13,
 (3415, 2007): 14,
 (3175, 2007): 15,
 (3221, 2007): 16,
 (3163, 2008): 1,
 (3353, 2008): 2,
 (3143, 2008): 3,
 (3438, 2008): 4,
 (3330, 2008): 5,
 (3203, 2008): 6,
 (3235, 2008): 7,
 (3400, 2008): 8,
 (3278, 2008): 9,
 (3210, 2008): 10,
 (3120, 2008): 11,
 (3251, 2008): 12,
 (3364, 2008): 13,
 (3360, 2008): 14,
 (3352, 2008): 15,
 (3165, 2008): 16,
 (3268, 2008): 1,
 (3390, 2008): 2,
 (3124, 2008): 3,
 (3435, 2008): 4,
 (3452, 2008): 5,
 (3338, 2008): 6,
 (3431, 2008): 7,
 (3304, 2008): 8,
 (3462, 2008): 9,
 (3443, 2008): 10,
 (3461, 2008): 11,
 (3307, 2008): 12,
 (3285, 2008): 13,
 (3201, 2008): 14,
 (3156, 2008): 15,
 (3164, 2008): 16,
 (3314, 2008): 1,
 (3261, 2008): 2,
 (3329, 2008): 3,
 (3257, 2008): 4,
 (3243, 2008): 5,
 (3326, 2008): 6,
 (3265, 2008): 7,
 (3208, 2008): 8,
 (3234, 2008): 9,
 (3177, 2008): 10,
 (3199, 2008): 11,
 (3151, 2008): 12,
 (3275, 2008): 13,
 (3190, 2008): 14,
 (3238, 2008): 15,
 (3137, 2008): 16,
 (3397, 2008): 1,
 (3401, 2008): 2,
 (3181, 2008): 3,
 (3328, 2008): 4,
 (3323, 2008): 5,
 (3113, 2008): 6,
 (3393, 2008): 7,
 (3428, 2008): 8,
 (3345, 2008): 9,
 (3216, 2008): 10,
 (3396, 2008): 11,
 (3374, 2008): 12,
 (3229, 2008): 13,
 (3293, 2008): 14,
 (3427, 2008): 15,
 (3331, 2008): 16,
 (3181, 2009): 1,
 (3390, 2009): 2,
 (3326, 2009): 3,
 (3235, 2009): 4,
 (3397, 2009): 5,
 (3400, 2009): 6,
 (3177, 2009): 7,
 (3292, 2009): 8,
 (3277, 2009): 9,
 (3361, 2009): 10,
 (3280, 2009): 11,
 (3123, 2009): 12,
 (3190, 2009): 13,
 (3357, 2009): 14,
 (3364, 2009): 15,
 (3122, 2009): 16,
 (3163, 2009): 1,
 (3401, 2009): 2,
 (3199, 2009): 3,
 (3143, 2009): 4,
 (3438, 2009): 5,
 (3113, 2009): 6,
 (3323, 2009): 7,
 (3196, 2009): 8,
 (3396, 2009): 9,
 (3278, 2009): 10,
 (3208, 2009): 11,
 (3265, 2009): 12,
 (3201, 2009): 13,
 (3299, 2009): 14,
 (3191, 2009): 15,
 (3436, 2009): 16,
 (3328, 2009): 1,
 (3120, 2009): 2,
 (3314, 2009): 3,
 (3338, 2009): 4,
 (3462, 2009): 5,
 (3345, 2009): 6,
 (3353, 2009): 7,
 (3234, 2009): 8,
 (3210, 2009): 9,
 (3433, 2009): 10,
 (3150, 2009): 11,
 (3211, 2009): 12,
 (3285, 2009): 13,
 (3416, 2009): 14,
 (3250, 2009): 15,
 (3341, 2009): 16,
 (3268, 2009): 1,
 (3124, 2009): 2,
 (3257, 2009): 3,
 (3435, 2009): 4,
 (3243, 2009): 5,
 (3261, 2009): 6,
 (3355, 2009): 7,
 (3437, 2009): 8,
 (3428, 2009): 9,
 (3395, 2009): 10,
 (3453, 2009): 11,
 (3180, 2009): 12,
 (3441, 2009): 13,
 (3251, 2009): 14,
 (3427, 2009): 15,
 (3171, 2009): 16,
 (3163, 2010): 1,
 (3326, 2010): 2,
 (3199, 2010): 3,
 (3235, 2010): 4,
 (3438, 2010): 5,
 (3385, 2010): 6,
 (3280, 2010): 7,
 (3396, 2010): 8,
 (3241, 2010): 9,
 (3292, 2010): 10,
 (3343, 2010): 11,
 (3453, 2010): 12,
 (3250, 2010): 13,
 (3256, 2010): 14,
 (3384, 2010): 15,
 (3380, 2010): 16,
 (3397, 2010): 1,
 (3181, 2010): 2,
 (3452, 2010): 3,
 (3124, 2010): 4,
 (3207, 2010): 5,
 (3400, 2010): 6,
 (3261, 2010): 7,
 (3173, 2010): 8,
 (3395, 2010): 9,
 (3216, 2010): 10,
 (3361, 2010): 11,
 (3265, 2010): 12,
 (3201, 2010): 13,
 (3249, 2010): 14,
 (3214, 2010): 15,
 (3122, 2010): 16,
 (3304, 2010): 1,
 (3323, 2010): 2,
 (3328, 2010): 3,
 (3246, 2010): 4,
 (3277, 2010): 5,
 (3210, 2010): 6,
 (3458, 2010): 7,
 (3417, 2010): 8,
 (3301, 2010): 9,
 (3436, 2010): 10,
 (3114, 2010): 11,
 (3132, 2010): 12,
 (3251, 2010): 13,
 (3355, 2010): 14,
 (3156, 2010): 15,
 (3320, 2010): 16,
 (3390, 2010): 1,
 (3401, 2010): 2,
 (3462, 2010): 3,
 (3329, 2010): 4,
 (3208, 2010): 5,
 (3435, 2010): 6,
 (3211, 2010): 7,
 (3234, 2010): 8,
 (3353, 2010): 9,
 (3314, 2010): 10,
 (3177, 2010): 11,
 (3408, 2010): 12,
 (3151, 2010): 13,
 (3190, 2010): 14,
 (3340, 2010): 15,
 (3415, 2010): 16,
 (3124, 2011): 1,
 (3401, 2011): 2,
 (3199, 2011): 3,
 (3277, 2011): 4,
 (3453, 2011): 5,
 (3208, 2011): 6,
 (3353, 2011): 7,
 (3222, 2011): 8,
 (3452, 2011): 9,
 (3256, 2011): 10,
 (3292, 2011): 11,
 (3114, 2011): 12,
 (3320, 2011): 13,
 (3359, 2011): 14,
 (3270, 2011): 15,
 (3341, 2011): 16,
 (3390, 2011): 1,
 (3462, 2011): 2,
 (3417, 2011): 3,
 (3246, 2011): 4,
 (3314, 2011): 5,
 (3234, 2011): 6,
 (3257, 2011): 7,
 (3403, 2011): 8,
 (3385, 2011): 9,
 (3435, 2011): 10,
 (3211, 2011): 11,
 (3201, 2011): 12,
 (3214, 2011): 13,
 (3285, 2011): 14,
 (3355, 2011): 15,
 (3413, 2011): 16,
 (3397, 2011): 1,
 (3323, 2011): 2,
 (3274, 2011): 3,
 (3326, 2011): 4,
 (3210, 2011): 5,
 (3328, 2011): 6,
 (3113, 2011): 7,
 (3266, 2011): 8,
 (3400, 2011): 9,
 (3396, 2011): 10,
 (3241, 2011): 11,
 (3132, 2011): 12,
 (3416, 2011): 13,
 (3205, 2011): 14,
 (3428, 2011): 15,
 (3391, 2011): 16,
 (3163, 2011): 1,
 (3181, 2011): 2,
 (3177, 2011): 3,
 (3268, 2011): 4,
 (3207, 2011): 5,
 (3336, 2011): 6,
 (3235, 2011): 7,
 (3243, 2011): 8,
 (3345, 2011): 9,
 (3265, 2011): 10,
 (3173, 2011): 11,
 (3343, 2011): 12,
 (3384, 2011): 13,
 (3298, 2011): 14,
 (3404, 2011): 15,
 (3216, 2011): 16,
 (3124, 2012): 1,
 (3397, 2012): 2,
 (3174, 2012): 3,
 (3210, 2012): 4,
 (3207, 2012): 5,
 (3304, 2012): 6,
 (3177, 2012): 7,
 (3326, 2012): 8,
 (3196, 2012): 9,
 (3140, 2012): 10,
 (3242, 2012): 11,
 (3201, 2012): 12,
 (3357, 2012): 13,
 (3114, 2012): 14,
 (3404, 2012): 15,
 (3364, 2012): 16,
 (3390, 2012): 1,
 (3181, 2012): 2,
 (3385, 2012): 3,
 (3345, 2012): 4,
 (3376, 2012): 5,
 (3328, 2012): 6,
 (3435, 2012): 7,
 (3452, 2012): 8,
 (3400, 2012): 9,
 (3292, 2012): 10,
 (3276, 2012): 11,
 (3185, 2012): 12,
 (3355, 2012): 13,
 (3166, 2012): 14,
 (3359, 2012): 15,
 (3214, 2012): 16,
 (3163, 2012): 1,
 (3246, 2012): 2,
 (3274, 2012): 3,
 (3336, 2012): 4,
 (3261, 2012): 5,
 (3353, 2012): 6,
 (3453, 2012): 7,
 (3243, 2012): 8,
 (3343, 2012): 9,
 (3235, 2012): 10,
 (3211, 2012): 11,
 (3361, 2012): 12,
 (3431, 2012): 13,
 (3226, 2012): 14,
 (3270, 2012): 15,
 (3341, 2012): 16,
 (3323, 2012): 1,
 (3268, 2012): 2,
 (3401, 2012): 3,
 (3208, 2012): 4,
 (3382, 2012): 5,
 (3116, 2012): 6,
 (3257, 2012): 7,
 (3143, 2012): 8,
 (3234, 2012): 9,
 (3277, 2012): 10,
 (3173, 2012): 11,
 (3195, 2012): 12,
 (3265, 2012): 13,
 (3107, 2012): 14,
 (3298, 2012): 15,
 (3251, 2012): 16,
 (3163, 2013): 1,
 (3246, 2013): 2,
 (3314, 2013): 3,
 (3268, 2013): 4,
 (3277, 2013): 5,
 (3174, 2013): 6,
 (3173, 2013): 7,
 (3435, 2013): 8,
 (3386, 2013): 9,
 (3385, 2013): 10,
 (3452, 2013): 11,
 (3265, 2013): 12,
 (3346, 2013): 13,
 (3107, 2013): 14,
 (3298, 2013): 15,
 (3225, 2013): 16,
 (3323, 2013): 1,
 (3181, 2013): 2,
 (3401, 2013): 3,
 (3376, 2013): 4,
 (3160, 2013): 5,
 (3304, 2013): 6,
 (3329, 2013): 7,
 (3274, 2013): 8,
 (3234, 2013): 9,
 (3177, 2013): 10,
 (3151, 2013): 11,
 (3242, 2013): 12,
 (3355, 2013): 13,
 (3455, 2013): 14,
 (3214, 2013): 15,
 (3404, 2013): 16,
 (3124, 2013): 1,
 (3397, 2013): 2,
 (3417, 2013): 3,
 (3345, 2013): 4,
 (3257, 2013): 5,
 (3328, 2013): 6,
 (3393, 2013): 7,
 (3199, 2013): 8,
 ...}

In [9]:
games_df['WSeed'] = games_df.apply(lambda row: team_season_seed_dict.get((row['WTeamID'], row['Season']),\
                                                                           0), axis = 1)

In [10]:
games_df['LSeed'] = games_df.apply(lambda row: team_season_seed_dict.get((row['LTeamID'], row['Season']),\
                                                                           0), axis = 1)

In [11]:
games_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,ScoreGap,WSeed,LSeed
0,2010,11,3103,63,3237,49,H,0,23,54,...,11,27,11,23,7,6,19,14,0,0
1,2010,11,3104,73,3399,68,N,0,26,62,...,14,26,7,20,4,2,27,5,0,0
2,2010,11,3110,71,3224,59,A,0,29,62,...,17,23,8,15,6,0,15,12,0,0
3,2010,11,3111,63,3267,58,A,0,27,52,...,22,22,15,11,14,5,14,5,0,0
4,2010,11,3119,74,3447,70,H,1,30,74,...,21,32,12,14,4,2,14,4,0,0

In [12]:
total_season_wins = games_df.groupby(['Season', 'WTeamID']).count()
total_season_wins = total_season_wins.reset_index()[['Season', 'WTeamID', 'DayNum']].rename(columns = {'DayNum':\
                                                                                    'NumWins', 'WTeamID': 'TeamID'})
total_season_wins.head()

   Season  TeamID  NumWins
0    2010    3102        1
1    2010    3103       17
2    2010    3104       11
3    2010    3105       14
4    2010    3106       12

In [13]:
total_season_losses = games_df.groupby(['Season', 'LTeamID']).count()
total_season_losses = total_season_losses.reset_index()[['Season', 'LTeamID', 'DayNum']].rename(columns = {'DayNum':\
                                                                                    'NumLosses', 'LTeamID': 'TeamID'})
total_season_losses.head()

   Season  TeamID  NumLosses
0    2010    3102         27
1    2010    3103         13
2    2010    3104         18
3    2010    3105         13
4    2010    3106         17

In [14]:
gap_win = games_df.groupby(['Season', 'WTeamID']).mean().reset_index()
gap_win = gap_win[['Season', 'WTeamID', 'ScoreGap']].rename(columns = {'ScoreGap': 'GapWins', 'WTeamID': 'TeamID'})
gap_win.head()

   Season  TeamID    GapWins
0    2010    3102  20.000000
1    2010    3103  13.176471
2    2010    3104  15.363636
3    2010    3105   7.357143
4    2010    3106   8.500000

In [15]:
gap_loss = games_df.groupby(['Season', 'LTeamID']).mean().reset_index()
gap_loss = gap_loss[['Season', 'LTeamID', 'ScoreGap']].rename(columns = {'ScoreGap': 'GapLosses', 'LTeamID': 'TeamID'})
gap_loss.head()

   Season  TeamID  GapLosses
0    2010    3102  21.444444
1    2010    3103  11.230769
2    2010    3104  14.000000
3    2010    3105  16.153846
4    2010    3106   9.882353

In [16]:
df_features_season_w = games_df.groupby(['Season', 'WTeamID']).count().reset_index()[['Season',\
                                                'WTeamID']].rename(columns = {'WTeamID': 'TeamID'})
df_features_season_l = games_df.groupby(['Season', 'LTeamID']).count().reset_index()[['Season',\
                                                'LTeamID']].rename(columns = {'LTeamID': 'TeamID'})

In [17]:
df_features_season = pd.concat([df_features_season_w, df_features_season_l],\
                               0).drop_duplicates().sort_values(['Season', 'TeamID']).reset_index(drop = True)

In [18]:
df_features_season = df_features_season.merge(total_season_wins, on = ['Season', 'TeamID'], how = 'left')
df_features_season = df_features_season.merge(total_season_losses, on = ['Season', 'TeamID'], how = 'left')
df_features_season = df_features_season.merge(gap_win, on = ['Season', 'TeamID'], how = 'left')
df_features_season = df_features_season.merge(gap_loss, on = ['Season', 'TeamID'], how = 'left')

In [19]:
df_features_season.fillna(0, inplace = True)

In [20]:
df_features_season['WinRatio'] = 100 * (df_features_season['NumWins'] / (df_features_season['NumWins'] + \
                                                                         df_features_season['NumLosses']))
df_features_season['GapAvg'] = (
    (df_features_season['NumWins'] * df_features_season['GapWins'] - 
    df_features_season['NumLosses'] * df_features_season['GapLosses'])
    / (df_features_season['NumWins'] + df_features_season['NumLosses'])
)

In [21]:
df_features_season

,Season,TeamID,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg
0,2010,3102,1.0,27.0,20.000000,21.444444,3.571429,-19.964286
1,2010,3103,17.0,13.0,13.176471,11.230769,56.666667,2.600000
2,2010,3104,11.0,18.0,15.363636,14.000000,37.931034,-2.862069
3,2010,3105,14.0,13.0,7.357143,16.153846,51.851852,-3.962963
4,2010,3106,12.0,17.0,8.500000,9.882353,41.379310,-2.275862
...,...,...,...,...,...,...,...,...
4875,2023,3473,1.0,22.0,9.000000,19.318182,4.347826,-18.086957
4876,2023,3474,5.0,18.0,10.200000,19.888889,21.739130,-13.347826
4877,2023,3475,8.0,16.0,13.875000,11.625000,33.333333,-3.125000
4878,2023,3476,7.0,19.0,10.571429,13.368421,26.923077,-6.923077
4879,2023,3477,11.0,15.0,11.000000,16.733333,42.307692,-5.000000

In [22]:
games_features_df = pd.merge(
    games_df,
    df_features_season,
    how = 'left',
    left_on = ['Season', 'WTeamID'],
    right_on = ['Season', 'TeamID']
).rename(columns = {
    'NumWins': 'NumWinsW',
    'NumLosses': 'NumLossesW',
    'GapWins': 'GapWinsW',
    'GapLosses': 'GapLossesW',
    'WinRatio': 'WinRatioW',
    'GapAvg': 'GapAvgW',
}).drop(columns = 'TeamID', axis = 1)

In [23]:
games_features_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LPF,ScoreGap,WSeed,LSeed,NumWinsW,NumLossesW,GapWinsW,GapLossesW,WinRatioW,GapAvgW
0,2010,11,3103,63,3237,49,H,0,23,54,...,19,14,0,0,17.0,13.0,13.176471,11.230769,56.666667,2.600000
1,2010,11,3104,73,3399,68,N,0,26,62,...,27,5,0,0,11.0,18.0,15.363636,14.000000,37.931034,-2.862069
2,2010,11,3110,71,3224,59,A,0,29,62,...,15,12,0,0,13.0,8.0,16.230769,10.500000,61.904762,6.047619
3,2010,11,3111,63,3267,58,A,0,27,52,...,14,5,0,0,19.0,12.0,11.263158,11.166667,61.290323,2.580645
4,2010,11,3119,74,3447,70,H,1,30,74,...,14,4,0,0,8.0,16.0,9.500000,14.437500,33.333333,-6.458333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,14,28,0,0,23.0,5.0,16.478261,15.600000,82.142857,10.750000
70763,2023,113,3385,69,3163,64,A,0,23,63,...,19,5,0,0,20.0,7.0,15.050000,17.000000,74.074074,6.740741
70764,2023,113,3416,57,3396,53,H,0,19,60,...,20,4,0,0,12.0,13.0,14.916667,18.384615,48.000000,-2.400000
70765,2023,113,3437,67,3177,64,H,0,24,67,...,14,3,0,0,24.0,5.0,18.041667,10.400000,82.758621,13.137931
70766,2023,113,3466,75,3146,42,A,0,27,62,...,12,33,0,0,9.0,14.0,15.777778,14.714286,39.130435,-2.782609

In [24]:
games_features_df = pd.merge(
    games_features_df,
    df_features_season,
    how = 'left',
    left_on = ['Season', 'LTeamID'],
    right_on = ['Season', 'TeamID']
).rename(columns = {
    'NumWins': 'NumWinsL',
    'NumLosses': 'NumLossesL',
    'GapWins': 'GapWinsL',
    'GapLosses': 'GapLossesL',
    'WinRatio': 'WinRatioL',
    'GapAvg': 'GapAvgL',
}).drop(columns = 'TeamID', axis = 1)

In [25]:
games_features_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,GapWinsW,GapLossesW,WinRatioW,GapAvgW,NumWinsL,NumLossesL,GapWinsL,GapLossesL,WinRatioL,GapAvgL
0,2010,11,3103,63,3237,49,H,0,23,54,...,13.176471,11.230769,56.666667,2.600000,2.0,26.0,15.000000,21.230769,7.142857,-18.642857
1,2010,11,3104,73,3399,68,N,0,26,62,...,15.363636,14.000000,37.931034,-2.862069,13.0,16.0,14.692308,16.312500,44.827586,-2.413793
2,2010,11,3110,71,3224,59,A,0,29,62,...,16.230769,10.500000,61.904762,6.047619,15.0,14.0,7.200000,13.214286,51.724138,-2.655172
3,2010,11,3111,63,3267,58,A,0,27,52,...,11.263158,11.166667,61.290323,2.580645,13.0,16.0,7.846154,11.375000,44.827586,-2.758621
4,2010,11,3119,74,3447,70,H,1,30,74,...,9.500000,14.437500,33.333333,-6.458333,9.0,21.0,8.333333,13.190476,30.000000,-6.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,16.478261,15.600000,82.142857,10.750000,22.0,6.0,24.090909,10.333333,78.571429,16.714286
70763,2023,113,3385,69,3163,64,A,0,23,63,...,15.050000,17.000000,74.074074,6.740741,24.0,5.0,22.375000,7.400000,82.758621,17.241379
70764,2023,113,3416,57,3396,53,H,0,19,60,...,14.916667,18.384615,48.000000,-2.400000,10.0,16.0,11.100000,11.312500,38.461538,-2.692308
70765,2023,113,3437,67,3177,64,H,0,24,67,...,18.041667,10.400000,82.758621,13.137931,15.0,14.0,21.000000,11.642857,51.724138,5.241379
70766,2023,113,3466,75,3146,42,A,0,27,62,...,15.777778,14.714286,39.130435,-2.782609,6.0,18.0,11.833333,20.666667,25.000000,-12.541667

TSP IMAGE

In [26]:
# true shooting percentage
games_features_df['1SP'] = 100 * ((0.5 * games_features_df['WScore']) / (games_features_df['WFGA'] + (0.475 * \
                                                                                games_features_df['WFTA'])))
games_features_df['2SP'] = 100 * ((0.5 * games_features_df['LScore']) / (games_features_df['LFGA'] + (0.475 * \
                                                                                games_features_df['LFTA'])))

In [27]:
games_features_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WinRatioW,GapAvgW,NumWinsL,NumLossesL,GapWinsL,GapLossesL,WinRatioL,GapAvgL,1SP,2SP
0,2010,11,3103,63,3237,49,H,0,23,54,...,56.666667,2.600000,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,49.980167,41.702128
1,2010,11,3104,73,3399,68,N,0,26,62,...,37.931034,-2.862069,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,48.472776,44.840092
2,2010,11,3110,71,3224,59,A,0,29,62,...,61.904762,6.047619,15.0,14.0,7.200000,13.214286,51.724138,-2.655172,52.437223,42.800145
3,2010,11,3111,63,3267,58,A,0,27,52,...,61.290323,2.580645,13.0,16.0,7.846154,11.375000,44.827586,-2.758621,55.975122,33.770015
4,2010,11,3119,74,3447,70,H,1,30,74,...,33.333333,-6.458333,9.0,21.0,8.333333,13.190476,30.000000,-6.733333,46.702430,41.679071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,82.142857,10.750000,22.0,6.0,24.090909,10.333333,78.571429,16.714286,61.440000,46.495726
70763,2023,113,3385,69,3163,64,A,0,23,63,...,74.074074,6.740741,24.0,5.0,22.375000,7.400000,82.758621,17.241379,48.218029,46.292948
70764,2023,113,3416,57,3396,53,H,0,19,60,...,48.000000,-2.400000,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,39.134912,33.941723
70765,2023,113,3437,67,3177,64,H,0,24,67,...,82.758621,13.137931,15.0,14.0,21.000000,11.642857,51.724138,5.241379,45.193929,38.917604
70766,2023,113,3466,75,3146,42,A,0,27,62,...,39.130435,-2.782609,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,55.782819,34.440344

In [28]:
# Grouping by Team and Season to obtain the mean for our necessary stats
group = games_features_df.groupby(['Season','WTeamID'])
games_features = group.mean()
games_features

                   DayNum     WScore      LTeamID     LScore     NumOT  \
Season WTeamID
2010   3102     32.000000  68.000000  3152.000000  48.000000  0.000000
       3103     74.941176  66.352941  3247.647059  53.176471  0.058824
       3104     57.181818  72.818182  3267.000000  57.454545  0.000000
       3105     87.000000  66.428571  3217.500000  59.071429  0.000000
       3106     88.666667  59.833333  3230.666667  51.333333  0.083333
...                   ...        ...          ...        ...       ...
2023   3473     96.000000  84.000000  3404.000000  75.000000  0.000000
       3474     62.200000  68.600000  3334.400000  58.400000  0.000000
       3475     63.000000  71.750000  3359.625000  57.875000  0.000000
       3476     64.714286  65.571429  3227.285714  55.000000  0.000000
       3477     79.090909  73.454545  3271.090909  62.454545  0.000000

                     WFGM       WFGA      WFGM3      WFGA3       WFTM  ...  \
Season WTeamID                                                         ...
2010   3102     23.000000  51.000000   6.000000  14.000000  16.000000  ...
       3103     23.941176  56.000000   4.352941  12.235294  14.117647  ...
       3104     28.000000  59.545455   4.818182  13.636364  12.000000  ...
       3105     21.785714  47.571429   3.142857   8.357143  19.714286  ...
       3106     19.583333  49.833333   2.250000   7.000000  18.416667  ...
...                   ...        ...        ...        ...        ...  ...
2023   3473     29.000000  47.000000  14.000000  26.000000  12.000000  ...
       3474     23.800000  59.000000   6.800000  20.200000  14.200000  ...
       3475     24.875000  59.375000   5.375000  16.625000  16.625000  ...
       3476     24.285714  56.142857   7.000000  19.000000  10.000000  ...
       3477     26.818182  59.090909   4.272727  14.545455  15.545455  ...

                WinRatioW    GapAvgW   NumWinsL  NumLossesL   GapWinsL  \
Season WTeamID
2010   3102      3.571429 -19.964286   9.000000   18.000000  14.000000
       3103     56.666667   2.600000  10.000000   19.176471  11.981285
       3104     37.931034  -2.862069  11.000000   17.727273  12.561448
       3105     51.851852  -3.962963  10.500000   17.500000  10.469473
       3106     41.379310  -2.275862   9.750000   18.583333  10.527159
...                   ...        ...        ...         ...        ...
2023   3473      4.347826 -18.086957  11.000000   16.000000  14.181818
       3474     21.739130 -13.347826   7.000000   17.800000   8.768571
       3475     33.333333  -3.125000   6.500000   18.250000  10.018750
       3476     26.923077  -6.923077   5.571429   19.285714   9.977381
       3477     42.307692  -5.000000   7.363636   16.272727  10.243934

                GapLossesL  WinRatioL    GapAvgL        1SP        2SP
Season WTeamID
2010   3102      14.500000  33.333333  -5.000000  55.760558  38.277512
       3103      14.173460  34.613575  -5.626469  51.040934  41.037520
       3104      15.092754  38.134376  -4.569409  53.028467  42.252070
       3105      15.154323  37.237395  -5.490715  55.354892  43.509581
       3106      15.717463  34.290277  -6.754353  47.706953  40.726426
...                    ...        ...        ...        ...        ...
2023   3473      11.625000  40.740741  -1.111111  76.923077  47.483381
       3474      19.879650  28.281159 -12.364498  50.234025  48.307636
       3475      18.460807  26.100845 -11.348105  51.485078  44.592368
       3476      17.542286  22.366300 -11.481300  51.840605  43.478205
       3477      17.159796  31.456381  -8.477458  53.165958  48.006340

[4860 rows x 48 columns]

In [29]:
games_features_df2 = games_features.reset_index()

In [30]:
games_features_df2 = games_features_df2[['Season', 'WTeamID', 'WScore', 'LScore', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl',\
                                         'WBlk', 'WPF', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'ScoreGap']]

In [31]:
games_features_df2

,Season,WTeamID,WScore,LScore,WOR,WDR,WAst,WTO,WStl,WBlk,WPF,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,ScoreGap
0,2010,3102,68.000000,48.000000,11.000000,29.000000,13.000000,14.000000,9.000000,1.000000,10.000000,14.000000,19.000000,13.000000,18.000000,7.000000,5.000000,17.000000,20.000000
1,2010,3103,66.352941,53.176471,14.176471,25.764706,14.235294,16.882353,8.705882,2.705882,16.058824,14.823529,20.764706,9.764706,19.058824,8.882353,3.705882,18.176471,13.176471
2,2010,3104,72.818182,57.454545,14.363636,28.000000,17.181818,20.545455,8.454545,3.000000,18.454545,14.818182,21.454545,10.818182,22.181818,8.636364,2.818182,18.181818,15.363636
3,2010,3105,66.428571,59.071429,11.285714,25.571429,11.285714,25.714286,8.928571,5.642857,18.714286,15.357143,18.428571,12.571429,22.142857,12.071429,3.285714,22.428571,7.357143
4,2010,3106,59.833333,51.333333,14.916667,25.583333,12.166667,19.250000,7.500000,5.333333,21.750000,14.166667,19.750000,7.416667,17.833333,8.000000,3.416667,22.583333,8.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4855,2023,3473,84.000000,75.000000,5.000000,25.000000,26.000000,25.000000,8.000000,6.000000,15.000000,13.000000,12.000000,12.000000,13.000000,17.000000,1.000000,18.000000,9.000000
4856,2023,3474,68.600000,58.400000,10.000000,22.400000,9.600000,13.000000,8.600000,2.000000,19.600000,7.200000,23.000000,8.200000,17.600000,5.800000,2.800000,17.600000,10.200000
4857,2023,3475,71.750000,57.875000,11.000000,27.000000,14.750000,18.000000,8.375000,3.750000,18.500000,7.875000,21.250000,9.250000,19.000000,8.625000,3.375000,21.125000,13.875000
4858,2023,3476,65.571429,55.000000,8.428571,24.857143,15.571429,14.000000,4.857143,2.714286,14.714286,7.714286,20.571429,7.571429,13.285714,6.000000,3.000000,16.714286,10.571429
4859,2023,3477,73.454545,62.454545,11.818182,24.818182,14.454545,14.272727,8.000000,3.545455,13.545455,8.545455,20.909091,13.636364,16.818182,7.363636,2.727273,18.636364,11.000000

In [32]:
# merging all
merged_df = pd.merge(games_features_df, games_features_df2, how = 'left', on = ['Season', 'WTeamID', 'WScore', \
                                'LScore', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF',\
                    'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'ScoreGap'])
merged_df

/Users/aheinke/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/reshape/merge.py:1123: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation
  warnings.warn(

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,WinRatioW,GapAvgW,NumWinsL,NumLossesL,GapWinsL,GapLossesL,WinRatioL,GapAvgL,1SP,2SP
0,2010,11,3103,63,3237,49,H,0,23,54,...,56.666667,2.600000,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,49.980167,41.702128
1,2010,11,3104,73,3399,68,N,0,26,62,...,37.931034,-2.862069,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,48.472776,44.840092
2,2010,11,3110,71,3224,59,A,0,29,62,...,61.904762,6.047619,15.0,14.0,7.200000,13.214286,51.724138,-2.655172,52.437223,42.800145
3,2010,11,3111,63,3267,58,A,0,27,52,...,61.290323,2.580645,13.0,16.0,7.846154,11.375000,44.827586,-2.758621,55.975122,33.770015
4,2010,11,3119,74,3447,70,H,1,30,74,...,33.333333,-6.458333,9.0,21.0,8.333333,13.190476,30.000000,-6.733333,46.702430,41.679071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,82.142857,10.750000,22.0,6.0,24.090909,10.333333,78.571429,16.714286,61.440000,46.495726
70763,2023,113,3385,69,3163,64,A,0,23,63,...,74.074074,6.740741,24.0,5.0,22.375000,7.400000,82.758621,17.241379,48.218029,46.292948
70764,2023,113,3416,57,3396,53,H,0,19,60,...,48.000000,-2.400000,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,39.134912,33.941723
70765,2023,113,3437,67,3177,64,H,0,24,67,...,82.758621,13.137931,15.0,14.0,21.000000,11.642857,51.724138,5.241379,45.193929,38.917604
70766,2023,113,3466,75,3146,42,A,0,27,62,...,39.130435,-2.782609,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,55.782819,34.440344

In [33]:
# Creating a GameID column for reference once we slpit our rows below
merged_df['GameID'] = merged_df.index
merged_df.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,GapAvgW,NumWinsL,NumLossesL,GapWinsL,GapLossesL,WinRatioL,GapAvgL,1SP,2SP,GameID
0,2010,11,3103,63,3237,49,H,0,23,54,...,2.600000,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,49.980167,41.702128,0
1,2010,11,3104,73,3399,68,N,0,26,62,...,-2.862069,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,48.472776,44.840092,1
2,2010,11,3110,71,3224,59,A,0,29,62,...,6.047619,15.0,14.0,7.200000,13.214286,51.724138,-2.655172,52.437223,42.800145,2
3,2010,11,3111,63,3267,58,A,0,27,52,...,2.580645,13.0,16.0,7.846154,11.375000,44.827586,-2.758621,55.975122,33.770015,3
4,2010,11,3119,74,3447,70,H,1,30,74,...,-6.458333,9.0,21.0,8.333333,13.190476,30.000000,-6.733333,46.702430,41.679071,4

In [34]:
# Creating a winners dataframe with all of the necessary columns which will be concatenated with
# a similar losers column to create our final dataframe
# (excluding the 'WFGM' column, as this is already accounted for by the 'WScore')
cols_to_keep = ['GameID', 'Season', 'DayNum', 'WTeamID', 'WSeed', 'WScore', 'WLoc', 'NumOT', 'WFGA', 'WFGM3',\
                'WFGA3', 'WFTM', 'WFTA', '1SP', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'ScoreGap',\
                'NumWinsW', 'NumLossesW', 'GapWinsW', 'GapLossesW', 'WinRatioW', 'GapAvgW']
winners_df = merged_df[cols_to_keep]
winners_df

,GameID,Season,DayNum,WTeamID,WSeed,WScore,WLoc,NumOT,WFGA,WFGM3,...,WStl,WBlk,WPF,ScoreGap,NumWinsW,NumLossesW,GapWinsW,GapLossesW,WinRatioW,GapAvgW
0,0,2010,11,3103,0,63,H,0,54,5,...,7,0,15,14,17.0,13.0,13.176471,11.230769,56.666667,2.600000
1,1,2010,11,3104,0,73,N,0,62,5,...,5,2,25,5,11.0,18.0,15.363636,14.000000,37.931034,-2.862069
2,2,2010,11,3110,0,71,A,0,62,6,...,6,2,17,12,13.0,8.0,16.230769,10.500000,61.904762,6.047619
3,3,2010,11,3111,0,63,A,0,52,4,...,5,10,18,5,19.0,12.0,11.263158,11.166667,61.290323,2.580645
4,4,2010,11,3119,0,74,H,1,74,7,...,5,3,18,4,8.0,16.0,9.500000,14.437500,33.333333,-6.458333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3268,0,96,H,0,71,14,...,15,1,14,28,23.0,5.0,16.478261,15.600000,82.142857,10.750000
70763,70763,2023,113,3385,0,69,A,0,63,9,...,4,6,18,5,20.0,7.0,15.050000,17.000000,74.074074,6.740741
70764,70764,2023,113,3416,0,57,H,0,60,4,...,3,7,14,4,12.0,13.0,14.916667,18.384615,48.000000,-2.400000
70765,70765,2023,113,3437,0,67,H,0,67,8,...,7,9,10,3,24.0,5.0,18.041667,10.400000,82.758621,13.137931
70766,70766,2023,113,3466,0,75,A,0,62,12,...,11,3,16,33,9.0,14.0,15.777778,14.714286,39.130435,-2.782609

In [35]:
# Creating our Win/Lose column, where a win is represented by a '1'
winners_df['Win1_Lose0'] = 1

<ipython-input-35-5baecc7e1ad9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winners_df['Win1_Lose0'] = 1

In [36]:
# Renaming each of the columns so that we can easily append the two new dataframes
dict = {'WTeamID': 'TeamID', 'WSeed': 'Seed', 'WScore': 'Score', 'WFGA': 'FGA', 'WFGM3': 'FGM3',\
                'WFGA3': 'FGA3', 'WFTM': 'FTM', 'WFTA': 'FTA', '1SP': 'SP', 'WOR': 'OR', 'WDR': 'DR', 'WAst': 'Ast',\
        'WTO': 'TO', 'WStl': 'Stl', 'WBlk': 'Blk', 'WPF': 'PF', 'NumWinsW': 'NumWins', 'NumLossesW': 'NumLosses',\
        'GapWinsW': 'GapWins', 'GapLossesW': 'GapLosses', 'WinRatioW': 'WinRatio', 'GapAvgW': 'GapAvg'}

In [37]:
winners_df.rename(columns = dict, inplace = True)
winners_df

/Users/aheinke/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
0,0,2010,11,3103,0,63,H,0,54,5,...,0,15,14,17.0,13.0,13.176471,11.230769,56.666667,2.600000,1
1,1,2010,11,3104,0,73,N,0,62,5,...,2,25,5,11.0,18.0,15.363636,14.000000,37.931034,-2.862069,1
2,2,2010,11,3110,0,71,A,0,62,6,...,2,17,12,13.0,8.0,16.230769,10.500000,61.904762,6.047619,1
3,3,2010,11,3111,0,63,A,0,52,4,...,10,18,5,19.0,12.0,11.263158,11.166667,61.290323,2.580645,1
4,4,2010,11,3119,0,74,H,1,74,7,...,3,18,4,8.0,16.0,9.500000,14.437500,33.333333,-6.458333,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3268,0,96,H,0,71,14,...,1,14,28,23.0,5.0,16.478261,15.600000,82.142857,10.750000,1
70763,70763,2023,113,3385,0,69,A,0,63,9,...,6,18,5,20.0,7.0,15.050000,17.000000,74.074074,6.740741,1
70764,70764,2023,113,3416,0,57,H,0,60,4,...,7,14,4,12.0,13.0,14.916667,18.384615,48.000000,-2.400000,1
70765,70765,2023,113,3437,0,67,H,0,67,8,...,9,10,3,24.0,5.0,18.041667,10.400000,82.758621,13.137931,1
70766,70766,2023,113,3466,0,75,A,0,62,12,...,3,16,33,9.0,14.0,15.777778,14.714286,39.130435,-2.782609,1

In [38]:
# Creating the losers dataframe with all of the necessary columns 
# (excluding the 'LFGM' column, as this is already accounted for by the 'LScore')
cols_to_keep = ['GameID', 'Season', 'DayNum', 'LTeamID', 'LSeed', 'LScore', 'WLoc', 'NumOT', 'LFGA', 'LFGM3',\
                'LFGA3', 'LFTM', 'LFTA', '2SP', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF', 'ScoreGap',\
                'NumWinsL', 'NumLossesL', 'GapWinsL', 'GapLossesL', 'WinRatioL', 'GapAvgL']
losers_df = merged_df[cols_to_keep]
losers_df

,GameID,Season,DayNum,LTeamID,LSeed,LScore,WLoc,NumOT,LFGA,LFGM3,...,LStl,LBlk,LPF,ScoreGap,NumWinsL,NumLossesL,GapWinsL,GapLossesL,WinRatioL,GapAvgL
0,0,2010,11,3237,0,49,H,0,54,3,...,7,6,19,14,2.0,26.0,15.000000,21.230769,7.142857,-18.642857
1,1,2010,11,3399,0,68,N,0,63,4,...,4,2,27,5,13.0,16.0,14.692308,16.312500,44.827586,-2.413793
2,2,2010,11,3224,0,59,A,0,58,2,...,6,0,15,12,15.0,14.0,7.200000,13.214286,51.724138,-2.655172
3,3,2010,11,3267,0,58,A,0,74,6,...,14,5,14,5,13.0,16.0,7.846154,11.375000,44.827586,-2.758621
4,4,2010,11,3447,0,70,H,1,74,9,...,4,2,14,4,9.0,21.0,8.333333,13.190476,30.000000,-6.733333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3234,0,68,H,0,66,11,...,5,3,14,28,22.0,6.0,24.090909,10.333333,78.571429,16.714286
70763,70763,2023,113,3163,0,64,A,0,62,8,...,5,7,19,5,24.0,5.0,22.375000,7.400000,82.758621,17.241379
70764,70764,2023,113,3396,0,53,H,0,70,7,...,10,9,20,4,10.0,16.0,11.100000,11.312500,38.461538,-2.692308
70765,70765,2023,113,3177,0,64,H,0,77,4,...,9,2,14,3,15.0,14.0,21.000000,11.642857,51.724138,5.241379
70766,70766,2023,113,3146,0,42,A,0,51,1,...,3,3,12,33,6.0,18.0,11.833333,20.666667,25.000000,-12.541667

In [39]:
# Creating our Win/Lose column, where a loss is represented by a '0'
losers_df['Win1_Lose0'] = 0

<ipython-input-39-794fc49922ac>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  losers_df['Win1_Lose0'] = 0

In [40]:
# Renaming each of the columns so that we can easily append the two new dataframes
dict = {'LTeamID': 'TeamID', 'LSeed': 'Seed', 'LScore': 'Score', 'LFGA': 'FGA', 'LFGM3': 'FGM3',\
            'LFGA3': 'FGA3', 'LFTM': 'FTM', 'LFTA': 'FTA', '2SP': 'SP', 'LOR': 'OR', 'LDR': 'DR', 'LAst': 'Ast',\
        'LTO': 'TO', 'LStl': 'Stl', 'LBlk': 'Blk', 'LPF': 'PF', 'NumWinsL': 'NumWins', 'NumLossesL': 'NumLosses',\
        'GapWinsL': 'GapWins', 'GapLossesL': 'GapLosses', 'WinRatioL': 'WinRatio', 'GapAvgL': 'GapAvg'}

In [41]:
losers_df.rename(columns = dict, inplace = True)
losers_df

/Users/aheinke/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
0,0,2010,11,3237,0,49,H,0,54,3,...,6,19,14,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,0
1,1,2010,11,3399,0,68,N,0,63,4,...,2,27,5,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,0
2,2,2010,11,3224,0,59,A,0,58,2,...,0,15,12,15.0,14.0,7.200000,13.214286,51.724138,-2.655172,0
3,3,2010,11,3267,0,58,A,0,74,6,...,5,14,5,13.0,16.0,7.846154,11.375000,44.827586,-2.758621,0
4,4,2010,11,3447,0,70,H,1,74,9,...,2,14,4,9.0,21.0,8.333333,13.190476,30.000000,-6.733333,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3234,0,68,H,0,66,11,...,3,14,28,22.0,6.0,24.090909,10.333333,78.571429,16.714286,0
70763,70763,2023,113,3163,0,64,A,0,62,8,...,7,19,5,24.0,5.0,22.375000,7.400000,82.758621,17.241379,0
70764,70764,2023,113,3396,0,53,H,0,70,7,...,9,20,4,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,0
70765,70765,2023,113,3177,0,64,H,0,77,4,...,2,14,3,15.0,14.0,21.000000,11.642857,51.724138,5.241379,0
70766,70766,2023,113,3146,0,42,A,0,51,1,...,3,12,33,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,0

In [42]:
# Merging our winning and losing dataframes into a new dataframe that we can run through our models!
merged_df2 = pd.concat([winners_df, losers_df])
ncaaw_df = merged_df2.sort_values(['GameID', 'Season'], ascending = [True, True])
ncaaw_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
0,0,2010,11,3103,0,63,H,0,54,5,...,0,15,14,17.0,13.0,13.176471,11.230769,56.666667,2.600000,1
0,0,2010,11,3237,0,49,H,0,54,3,...,6,19,14,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,0
1,1,2010,11,3104,0,73,N,0,62,5,...,2,25,5,11.0,18.0,15.363636,14.000000,37.931034,-2.862069,1
1,1,2010,11,3399,0,68,N,0,63,4,...,2,27,5,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,0
2,2,2010,11,3110,0,71,A,0,62,6,...,2,17,12,13.0,8.0,16.230769,10.500000,61.904762,6.047619,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70764,70764,2023,113,3396,0,53,H,0,70,7,...,9,20,4,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,0
70765,70765,2023,113,3437,0,67,H,0,67,8,...,9,10,3,24.0,5.0,18.041667,10.400000,82.758621,13.137931,1
70765,70765,2023,113,3177,0,64,H,0,77,4,...,2,14,3,15.0,14.0,21.000000,11.642857,51.724138,5.241379,0
70766,70766,2023,113,3466,0,75,A,0,62,12,...,3,16,33,9.0,14.0,15.777778,14.714286,39.130435,-2.782609,1
70766,70766,2023,113,3146,0,42,A,0,51,1,...,3,12,33,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,0

In [43]:
ncaaw_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 141534 entries, 0 to 70766
Data columns (total 29 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   GameID      141534 non-null  int64
 1   Season      141534 non-null  int64
 2   DayNum      141534 non-null  int64
 3   TeamID      141534 non-null  int64
 4   Seed        141534 non-null  int64
 5   Score       141534 non-null  int64
 6   WLoc        141534 non-null  object
 7   NumOT       141534 non-null  int64
 8   FGA         141534 non-null  int64
 9   FGM3        141534 non-null  int64
 10  FGA3        141534 non-null  int64
 11  FTM         141534 non-null  int64
 12  FTA         141534 non-null  int64
 13  SP          141534 non-null  float64
 14  OR          141534 non-null  int64
 15  DR          141534 non-null  int64
 16  Ast         141534 non-null  int64
 17  TO          141534 non-null  int64
 18  Stl         141534 non-null  int64
 19  Blk         141534 non-null  int64
 20  PF          141534 non-null  int64
 21  ScoreGap    141534 non-null  int64
 22  NumWins     141534 non-null  float64
 23  NumLosses   141534 non-null  float64
 24  GapWins     141534 non-null  float64
 25  GapLosses   141534 non-null  float64
 26  WinRatio    141534 non-null  float64
 27  GapAvg      141534 non-null  float64
 28  Win1_Lose0  141534 non-null  int64
dtypes: float64(7), int64(21), object(1)
memory usage: 32.4+ MB

In [44]:
wloc_map = {'H': 1, 'A': 2, 'N': 0}
ncaaw_df['WLoc'] = ncaaw_df['WLoc'].map(wloc_map)
ncaaw_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
0,0,2010,11,3103,0,63,1,0,54,5,...,0,15,14,17.0,13.0,13.176471,11.230769,56.666667,2.600000,1
0,0,2010,11,3237,0,49,1,0,54,3,...,6,19,14,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,0
1,1,2010,11,3104,0,73,0,0,62,5,...,2,25,5,11.0,18.0,15.363636,14.000000,37.931034,-2.862069,1
1,1,2010,11,3399,0,68,0,0,63,4,...,2,27,5,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,0
2,2,2010,11,3110,0,71,2,0,62,6,...,2,17,12,13.0,8.0,16.230769,10.500000,61.904762,6.047619,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70764,70764,2023,113,3396,0,53,1,0,70,7,...,9,20,4,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,0
70765,70765,2023,113,3437,0,67,1,0,67,8,...,9,10,3,24.0,5.0,18.041667,10.400000,82.758621,13.137931,1
70765,70765,2023,113,3177,0,64,1,0,77,4,...,2,14,3,15.0,14.0,21.000000,11.642857,51.724138,5.241379,0
70766,70766,2023,113,3466,0,75,2,0,62,12,...,3,16,33,9.0,14.0,15.777778,14.714286,39.130435,-2.782609,1
70766,70766,2023,113,3146,0,42,2,0,51,1,...,3,12,33,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,0

DayNum
103    1613
89     1611
110    1592
96     1592
75     1555
       ...
99      122
53      109
132      74
2        45
3        33
Length: 132, dtype: int64

In [45]:
final_ncaaw_df = ncaaw_df.loc[ncaaw_df['Season'] < 2023]
final_ncaaw_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
0,0,2010,11,3103,0,63,1,0,54,5,...,0,15,14,17.0,13.0,13.176471,11.230769,56.666667,2.600000,1
0,0,2010,11,3237,0,49,1,0,54,3,...,6,19,14,2.0,26.0,15.000000,21.230769,7.142857,-18.642857,0
1,1,2010,11,3104,0,73,0,0,62,5,...,2,25,5,11.0,18.0,15.363636,14.000000,37.931034,-2.862069,1
1,1,2010,11,3399,0,68,0,0,63,4,...,2,27,5,13.0,16.0,14.692308,16.312500,44.827586,-2.413793,0
2,2,2010,11,3110,0,71,2,0,62,6,...,2,17,12,13.0,8.0,16.230769,10.500000,61.904762,6.047619,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66166,66166,2022,151,3390,1,58,0,0,66,4,...,3,16,5,32.0,4.0,19.312500,4.250000,88.888889,16.694444,0
66167,66167,2022,151,3376,1,72,0,0,57,6,...,4,11,13,35.0,2.0,21.457143,1.500000,94.594595,20.216216,1
66167,66167,2022,151,3257,1,59,0,0,63,1,...,2,17,13,29.0,5.0,19.862069,5.400000,85.294118,16.147059,0
66168,66168,2022,153,3376,1,64,0,0,60,3,...,4,11,15,35.0,2.0,21.457143,1.500000,94.594595,20.216216,1
66168,66168,2022,153,3163,2,49,0,0,54,4,...,5,21,15,30.0,6.0,24.800000,10.833333,83.333333,18.861111,0

In [63]:
X = final_ncaaw_df.drop(['Win1_Lose0'], axis=1)
y = final_ncaaw_df['Win1_Lose0']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size=0.2, random_state=42)

scaler = StandardScaler()

# Fit the scaler on the training data
scaler.fit(X_train)

# Transform the training and testing data
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Create an instance of XGBoost classifier
xgb_model = xgb.XGBClassifier()

# Fit the model on the scaled training data
xgb_model.fit(X_train_scaled, y_train)

# Predict on the scaled testing data
y_pred = xgb_model.predict(X_test_scaled)

In [64]:
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))

0.8958742632612967
0.8978584447144593
0.8933806861115309
0.8956139686387395

In [65]:
now_final_ncaaw_df = ncaaw_df[ncaaw_df['Season'] == 2023]
now_final_ncaaw_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,FGA,FGM3,...,Blk,PF,ScoreGap,NumWins,NumLosses,GapWins,GapLosses,WinRatio,GapAvg,Win1_Lose0
66169,66169,2023,7,3102,0,67,2,0,61,6,...,4,24,4,10.0,15.0,10.800000,10.533333,40.000000,-2.000000,1
66169,66169,2023,7,3176,0,63,2,0,57,5,...,5,17,4,11.0,16.0,8.545455,15.437500,40.740741,-5.666667,0
66170,66170,2023,7,3104,0,98,1,0,58,13,...,7,23,47,20.0,7.0,20.850000,13.571429,74.074074,11.925926,1
66170,66170,2023,7,3105,0,51,1,0,64,2,...,2,20,47,13.0,12.0,9.384615,18.833333,52.000000,-4.160000,0
66171,66171,2023,7,3113,0,69,1,0,72,4,...,5,17,1,7.0,18.0,9.571429,15.111111,28.000000,-8.200000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70764,70764,2023,113,3396,0,53,1,0,70,7,...,9,20,4,10.0,16.0,11.100000,11.312500,38.461538,-2.692308,0
70765,70765,2023,113,3437,0,67,1,0,67,8,...,9,10,3,24.0,5.0,18.041667,10.400000,82.758621,13.137931,1
70765,70765,2023,113,3177,0,64,1,0,77,4,...,2,14,3,15.0,14.0,21.000000,11.642857,51.724138,5.241379,0
70766,70766,2023,113,3466,0,75,2,0,62,12,...,3,16,33,9.0,14.0,15.777778,14.714286,39.130435,-2.782609,1
70766,70766,2023,113,3146,0,42,2,0,51,1,...,3,12,33,6.0,18.0,11.833333,20.666667,25.000000,-12.541667,0

In [49]:
now_final_ncaaw_df.columns.values.tolist()

['GameID',
 'Season',
 'DayNum',
 'TeamID',
 'Seed',
 'Score',
 'WLoc',
 'NumOT',
 'FGA',
 'FGM3',
 'FGA3',
 'FTM',
 'FTA',
 'SP',
 'OR',
 'DR',
 'Ast',
 'TO',
 'Stl',
 'Blk',
 'PF',
 'ScoreGap',
 'NumWins',
 'NumLosses',
 'GapWins',
 'GapLosses',
 'WinRatio',
 'GapAvg',
 'Win1_Lose0']

In [66]:
import itertools
# Define the column you want to generate all possible pairs for
column_name = 'TeamID'

# Get all unique values in the column
unique_values = now_final_ncaaw_df[column_name].unique()

# Generate all possible pairs of values
value_pairs = list(itertools.combinations(unique_values, 2))

# Create a DataFrame to store the predictions for each pair
predictions_df = pd.DataFrame(columns = ['Team' + '_1', 'Team' + '_2', 'Prediction'])

# Loop through each pair of values and make a prediction
for pair in value_pairs:
    # Create a new DataFrame containing the features for the matchup you want to predict
    matchup_features = pd.DataFrame({
        'GameID': [0, 1, 2, 3],
        'Season': [0, 0, 0, 0],
        'DayNum': [0, 0, 0, 0],
        'TeamID': [pair[0], pair[1], pair[0], pair[1]],
        'Score': [0, 0, 0, 0],
        'Seed': [0, 0, 0, 0],
        'WLoc': [0, 0, 0, 0],
        'NumOT': [0, 0, 0, 0],
        'FGA': [0, 0, 0, 0],
        'FGM3': [0, 0, 0, 0],
        'FGA3': [0, 0, 0, 0],
        'FTM': [0, 0, 0, 0],
        'FTA': [0, 0, 0, 0],
        'SP': [0, 0, 0, 0],
        'OR': [0, 0, 0, 0],
        'DR': [0, 0, 0, 0],
        'Ast': [0, 0, 0, 0],
        'TO': [0, 0, 0, 0],
        'Stl': [0, 0, 0, 0],
        'Blk': [0, 0, 0, 0],
        'PF': [0, 0, 0, 0],
        'ScoreGap': [0, 0, 0, 0],
        'NumWins': [0, 0, 0, 0],
        'NumLosses': [0, 0, 0, 0],
        'GapWins': [0, 0, 0, 0],
        'GapLosses': [0, 0, 0, 0],
        'WinRatio': [0, 0, 0, 0],
        'GapAvg': [0, 0, 0, 0],
    })

    # Replace prediction = xgb_model.predict(matchup_features) with the following line
    prediction = xgb_model.predict_proba(matchup_features)

    # Extract the probability of the positive class (i.e., team 1 wins)
    proba_team_1_wins = prediction[0, 1]

    # Append the prediction to the DataFrame
    predictions_df = predictions_df.append({
        'Team' + '_1': pair[0],
        'Team' + '_2': pair[1],
        'Prediction': proba_team_1_wins
    }, ignore_index = True)

# Print the predictions DataFrame
predictions_df

       Team_1  Team_2  Prediction
0      3102.0  3176.0    0.499871
1      3102.0  3104.0    0.499871
2      3102.0  3105.0    0.499871
3      3102.0  3113.0    0.499871
4      3102.0  3319.0    0.499871
...       ...     ...         ...
64975  3194.0  3470.0    0.499871
64976  3194.0  3317.0    0.499871
64977  3412.0  3470.0    0.499871
64978  3412.0  3317.0    0.499871
64979  3470.0  3317.0    0.499871

[64980 rows x 3 columns]

In [73]:
predictions_df.value_counts('Prediction')

Prediction
0.499871    64980
dtype: int64

In [68]:
X = final_ncaaw_df.drop(['Win1_Lose0'], axis=1)
y = final_ncaaw_df['Win1_Lose0']
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, test_size = 0.15, random_state = 42)

steps = [('imputer', SimpleImputer(strategy="median")), ('std_scaler', StandardScaler()),
        ('rf_clf', DecisionTreeClassifier(random_state=42))]

pipeline = Pipeline(steps)


# Train the pipeline (tranformations & predictor)
pipeline.fit(X_train, y_train)

# Predict using the pipeline (includes the transfomers & trained predictor)
predicted = pipeline.predict(X_test)
predicted

array([1, 0, 0, ..., 1, 1, 0])

In [69]:
def cross_validation_pip(X_train, y_train, estimator, num_split = 10):
    
    X_train = X_train.values
    y_train = y_train.values
    
    score_train_list = []
    score_val_list = []
    
    for train_index, valid_index in KFold(n_splits = num_split).split(X_train):
        
        # train and validation splitting 
        X_train_fold, X_val_fold = X_train[train_index], X_train[valid_index]
        y_train_fold, y_val_fold = y_train[train_index], y_train[valid_index]

        estimator.fit(X_train_fold, y_train_fold)
        
        # now how did we do?
        accuracy_train = estimator.score(X_train_fold, y_train_fold)
        accuracy_val = estimator.score(X_val_fold, y_val_fold)
        score_val_list.append(accuracy_val)
        score_train_list.append(accuracy_train)
    
    return {'train': np.mean(score_train_list), 'validation': np.mean(score_val_list)}

In [70]:
cross_validation_pip(X_train, y_train, pipeline)

{'train': 1.0, 'validation': 0.8047685446229644}