In [1]:
import numpy as np
import pandas as pd
import xlrd
import os
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV,\
cross_val_score, KFold
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier,\
ExtraTreesClassifier, VotingClassifier, StackingRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder, LabelEncoder,\
OrdinalEncoder, MaxAbsScaler
from sklearn.impute import SimpleImputer
from sklearn.metrics import precision_score, recall_score, f1_score,\
accuracy_score, classification_report, r2_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from xgboost import XGBRegressor
from xgboost import XGBClassifier
import xgboost as xgb
from matplotlib import pyplot as plt
import warnings

In [2]:
season_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WRegularSeasonDetailedResults.csv')
season_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70002,2023,113,3268,96,3234,68,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70003,2023,113,3385,69,3163,64,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70004,2023,113,3416,57,3396,53,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70005,2023,113,3437,67,3177,64,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70006,2023,113,3466,75,3146,42,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [3]:
tourney_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WNCAATourneyDetailedResults.csv')
tourney_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,138,3124,69,3201,55,N,0,28,57,...,34,3,5,17,19,12,18,4,1,18
1,2010,138,3173,67,3395,66,N,0,23,59,...,27,14,15,18,26,8,8,8,6,22
2,2010,138,3181,72,3214,37,H,0,26,57,...,15,3,8,10,21,4,16,6,4,20
3,2010,138,3199,75,3256,61,H,0,25,63,...,20,17,22,16,21,13,16,5,4,24
4,2010,138,3207,62,3265,42,N,0,24,68,...,26,11,17,16,22,9,10,3,4,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
755,2022,147,3163,91,3301,87,N,2,37,77,...,23,16,19,6,30,20,13,4,7,16
756,2022,147,3257,62,3276,50,N,0,25,58,...,14,15,20,10,24,9,21,6,2,12
757,2022,151,3163,63,3390,58,N,0,21,57,...,23,8,13,11,23,10,11,11,3,16
758,2022,151,3376,72,3257,59,N,0,27,57,...,8,4,7,11,18,5,15,13,2,17
759,2022,153,3376,64,3163,49,N,0,22,60,...,16,1,4,3,16,14,14,4,5,21

In [4]:
merged_df = pd.concat([season_df, tourney_df])

# sort the merged dataframe by "col_name" in ascending order
sorted_df = merged_df.sort_values(['Season', 'DayNum'], ascending=[True, True])

# reset the index
games_df = sorted_df.reset_index(drop=True)
games_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2010,11,3103,63,3237,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,2010,11,3104,73,3399,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2010,11,3110,71,3224,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,2010,11,3111,63,3267,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,2010,11,3119,74,3447,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70763,2023,113,3385,69,3163,64,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70764,2023,113,3416,57,3396,53,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70765,2023,113,3437,67,3177,64,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70766,2023,113,3466,75,3146,42,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [5]:
seeds_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WNCAATourneySeeds.csv')
seeds_df

      Season Seed  TeamID
0       1998  W01    3330
1       1998  W02    3163
2       1998  W03    3112
3       1998  W04    3301
4       1998  W05    3272
...      ...  ...     ...
1535    2022  Z12    3125
1536    2022  Z13    3138
1537    2022  Z14    3110
1538    2022  Z15    3218
1539    2022  Z16    3107

[1540 rows x 3 columns]

In [6]:
seeds_df['SeedNum'] = seeds_df['Seed'].str.extract('(\d+)').astype(int)
seeds_df

      Season Seed  TeamID  SeedNum
0       1998  W01    3330        1
1       1998  W02    3163        2
2       1998  W03    3112        3
3       1998  W04    3301        4
4       1998  W05    3272        5
...      ...  ...     ...      ...
1535    2022  Z12    3125       12
1536    2022  Z13    3138       13
1537    2022  Z14    3110       14
1538    2022  Z15    3218       15
1539    2022  Z16    3107       16

[1540 rows x 4 columns]

In [7]:
team_season_seed_dict = dict(zip(zip(seeds_df['TeamID'], seeds_df['Season']), seeds_df['SeedNum']))
team_season_seed_dict

{(3330, 1998): 1,
 (3163, 1998): 2,
 (3112, 1998): 3,
 (3301, 1998): 4,
 (3272, 1998): 5,
 (3438, 1998): 6,
 (3208, 1998): 7,
 (3307, 1998): 8,
 (3304, 1998): 9,
 (3203, 1998): 10,
 (3374, 1998): 11,
 (3464, 1998): 12,
 (3263, 1998): 13,
 (3365, 1998): 14,
 (3193, 1998): 15,
 (3384, 1998): 16,
 (3403, 1998): 1,
 (3104, 1998): 2,
 (3256, 1998): 3,
 (3345, 1998): 4,
 (3179, 1998): 5,
 (3155, 1998): 6,
 (3417, 1998): 7,
 (3283, 1998): 8,
 (3323, 1998): 9,
 (3276, 1998): 10,
 (3274, 1998): 11,
 (3161, 1998): 12,
 (3449, 1998): 13,
 (3221, 1998): 14,
 (3422, 1998): 15,
 (3212, 1998): 16,
 (3397, 1998): 1,
 (3314, 1998): 2,
 (3228, 1998): 3,
 (3235, 1998): 4,
 (3353, 1998): 5,
 (3435, 1998): 6,
 (3198, 1998): 7,
 (3443, 1998): 8,
 (3372, 1998): 9,
 (3266, 1998): 10,
 (3364, 1998): 11,
 (3332, 1998): 12,
 (3245, 1998): 13,
 (3453, 1998): 14,
 (3224, 1998): 15,
 (3251, 1998): 16,
 (3390, 1998): 1,
 (3181, 1998): 2,
 (3196, 1998): 3,
 (3234, 1998): 4,
 (3242, 1998): 5,
 (3458, 1998): 6,
 (3428, 1998): 7,
 (3218, 1998): 8,
 (3116, 1998): 9,
 (3257, 1998): 10,
 (3439, 1998): 11,
 (3408, 1998): 12,
 (3269, 1998): 13,
 (3285, 1998): 14,
 (3292, 1998): 15,
 (3217, 1998): 16,
 (3397, 1999): 1,
 (3330, 1999): 2,
 (3181, 1999): 3,
 (3439, 1999): 4,
 (3120, 1999): 5,
 (3408, 1999): 6,
 (3390, 1999): 7,
 (3130, 1999): 8,
 (3326, 1999): 9,
 (3263, 1999): 10,
 (3386, 1999): 11,
 (3400, 1999): 12,
 (3389, 1999): 13,
 (3221, 1999): 14,
 (3399, 1999): 15,
 (3111, 1999): 16,
 (3163, 1999): 1,
 (3155, 1999): 2,
 (3208, 1999): 3,
 (3235, 1999): 4,
 (3332, 1999): 5,
 (3405, 1999): 6,
 (3228, 1999): 7,
 (3462, 1999): 8,
 (3198, 1999): 9,
 (3257, 1999): 10,
 (3374, 1999): 11,
 (3153, 1999): 12,
 (3365, 1999): 13,
 (3251, 1999): 14,
 (3197, 1999): 15,
 (3384, 1999): 16,
 (3345, 1999): 1,
 (3403, 1999): 2,
 (3353, 1999): 3,
 (3314, 1999): 4,
 (3104, 1999): 5,
 (3112, 1999): 6,
 (3280, 1999): 7,
 (3266, 1999): 8,
 (3242, 1999): 9,
 (3301, 1999): 10,
 (3196, 1999): 11,
 (3212, 1999): 12,
 (3318, 1999): 13,
 (3171, 1999): 14,
 (3372, 1999): 15,
 (3331, 1999): 16,
 (3256, 1999): 1,
 (3161, 1999): 2,
 (3417, 1999): 3,
 (3261, 1999): 4,
 (3323, 1999): 5,
 (3246, 1999): 6,
 (3283, 1999): 7,
 (3336, 1999): 8,
 (3438, 1999): 9,
 (3364, 1999): 10,
 (3304, 1999): 11,
 (3388, 1999): 12,
 (3191, 1999): 13,
 (3453, 1999): 14,
 (3169, 1999): 15,
 (3416, 1999): 16,
 (3163, 2000): 1,
 (3181, 2000): 2,
 (3261, 2000): 3,
 (3345, 2000): 4,
 (3328, 2000): 5,
 (3462, 2000): 6,
 (3266, 2000): 7,
 (3179, 2000): 8,
 (3155, 2000): 9,
 (3443, 2000): 10,
 (3372, 2000): 11,
 (3140, 2000): 12,
 (3171, 2000): 13,
 (3251, 2000): 14,
 (3144, 2000): 15,
 (3214, 2000): 16,
 (3256, 2000): 1,
 (3336, 2000): 2,
 (3235, 2000): 3,
 (3330, 2000): 4,
 (3301, 2000): 5,
 (3228, 2000): 6,
 (3120, 2000): 7,
 (3242, 2000): 8,
 (3435, 2000): 9,
 (3283, 2000): 10,
 (3428, 2000): 11,
 (3374, 2000): 12,
 (3453, 2000): 13,
 (3384, 2000): 14,
 (3464, 2000): 15,
 (3108, 2000): 16,
 (3397, 2000): 1,
 (3323, 2000): 2,
 (3403, 2000): 3,
 (3438, 2000): 4,
 (3130, 2000): 5,
 (3408, 2000): 6,
 (3203, 2000): 7,
 (3112, 2000): 8,
 (3245, 2000): 9,
 (3417, 2000): 10,
 (3436, 2000): 11,
 (3304, 2000): 12,
 (3337, 2000): 13,
 (3399, 2000): 14,
 (3360, 2000): 15,
 (3202, 2000): 16,
 (3208, 2000): 1,
 (3353, 2000): 2,
 (3280, 2000): 3,
 (3364, 2000): 4,
 (3314, 2000): 5,
 (3332, 2000): 6,
 (3400, 2000): 7,
 (3276, 2000): 8,
 (3390, 2000): 9,
 (3386, 2000): 10,
 (3412, 2000): 11,
 (3263, 2000): 12,
 (3349, 2000): 13,
 (3389, 2000): 14,
 (3221, 2000): 15,
 (3285, 2000): 16,
 (3163, 2001): 1,
 (3208, 2001): 2,
 (3256, 2001): 3,
 (3301, 2001): 4,
 (3437, 2001): 5,
 (3336, 2001): 6,
 (3458, 2001): 7,
 (3268, 2001): 8,
 (3161, 2001): 9,
 (3281, 2001): 10,
 (3395, 2001): 11,
 (3179, 2001): 12,
 (3174, 2001): 13,
 (3209, 2001): 14,
 (3251, 2001): 15,
 (3254, 2001): 16,
 (3323, 2001): 1,
 (3235, 2001): 2,
 (3435, 2001): 3,
 (3234, 2001): 4,
 (3428, 2001): 5,
 (3160, 2001): 6,
 (3199, 2001): 7,
 (3276, 2001): 8,
 (3438, 2001): 9,
 (3408, 2001): 10,
 (3373, 2001): 11,
 (3193, 2001): 12,
 (3332, 2001): 13,
 (3226, 2001): 14,
 (3224, 2001): 15,
 (3108, 2001): 16,
 (3397, 2001): 1,
 (3403, 2001): 2,
 (3345, 2001): 3,
 (3462, 2001): 4,
 (3155, 2001): 5,
 (3261, 2001): 6,
 (3439, 2001): 7,
 (3400, 2001): 8,
 (3388, 2001): 9,
 (3176, 2001): 10,
 (3113, 2001): 11,
 (3151, 2001): 12,
 (3257, 2001): 13,
 (3364, 2001): 14,
 (3335, 2001): 15,
 (3122, 2001): 16,
 (3181, 2001): 1,
 (3328, 2001): 2,
 (3196, 2001): 3,
 (3353, 2001): 4,
 (3283, 2001): 5,
 (3449, 2001): 6,
 (3203, 2001): 7,
 (3124, 2001): 8,
 (3116, 2001): 9,
 (3390, 2001): 10,
 (3330, 2001): 11,
 (3405, 2001): 12,
 (3372, 2001): 13,
 (3221, 2001): 14,
 (3331, 2001): 15,
 (3454, 2001): 16,
 (3181, 2002): 1,
 (3124, 2002): 2,
 (3376, 2002): 3,
 (3400, 2002): 4,
 (3256, 2002): 5,
 (3153, 2002): 6,
 (3179, 2002): 7,
 (3395, 2002): 8,
 (3231, 2002): 9,
 (3393, 2002): 10,
 (3389, 2002): 11,
 (3364, 2002): 12,
 (3453, 2002): 13,
 (3251, 2002): 14,
 (3137, 2002): 15,
 (3313, 2002): 16,
 (3328, 2002): 1,
 (3390, 2002): 2,
 (3160, 2002): 3,
 (3403, 2002): 4,
 (3130, 2002): 5,
 (3261, 2002): 6,
 (3161, 2002): 7,
 (3337, 2002): 8,
 (3437, 2002): 9,
 (3408, 2002): 10,
 (3365, 2002): 11,
 (3280, 2002): 12,
 (3372, 2002): 13,
 (3380, 2002): 14,
 (3451, 2002): 15,
 (3216, 2002): 16,
 (3163, 2002): 1,
 (3345, 2002): 2,
 (3243, 2002): 3,
 (3336, 2002): 4,
 (3198, 2002): 5,
 (3116, 2002): 6,
 (3330, 2002): 7,
 (3438, 2002): 8,
 (3234, 2002): 9,
 (3208, 2002): 10,
 (3155, 2002): 11,
 (3166, 2002): 12,
 (3151, 2002): 13,
 (3245, 2002): 14,
 (3122, 2002): 15,
 (3384, 2002): 16,
 (3435, 2002): 1,
 (3397, 2002): 2,
 (3235, 2002): 3,
 (3314, 2002): 4,
 (3278, 2002): 5,
 (3196, 2002): 6,
 (3323, 2002): 7,
 (3458, 2002): 8,
 (3113, 2002): 9,
 (3307, 2002): 10,
 (3140, 2002): 11,
 (3424, 2002): 12,
 (3217, 2002): 13,
 (3396, 2002): 14,
 (3209, 2002): 15,
 (3324, 2002): 16,
 (3163, 2003): 1,
 (3345, 2003): 2,
 (3243, 2003): 3,
 (3435, 2003): 4,
 (3130, 2003): 5,
 (3112, 2003): 6,
 (3439, 2003): 7,
 (3277, 2003): 8,
 (3395, 2003): 9,
 (3210, 2003): 10,
 (3323, 2003): 11,
 (3330, 2003): 12,
 (3251, 2003): 13,
 (3217, 2003): 14,
 (3434, 2003): 15,
 (3131, 2003): 16,
 (3261, 2003): 1,
 (3400, 2003): 2,
 (3390, 2003): 3,
 (3326, 2003): 4,
 (3256, 2003): 5,
 (3278, 2003): 6,
 (3116, 2003): 7,
 (3453, 2003): 8,
 (3449, 2003): 9,
 (3153, 2003): 10,
 (3408, 2003): 11,
 (3337, 2003): 12,
 (3451, 2003): 13,
 (3444, 2003): 14,
 (3214, 2003): 15,
 (3402, 2003): 16,
 (3397, 2003): 1,
 (3437, 2003): 2,
 (3314, 2003): 3,
 (3336, 2003): 4,
 (3376, 2003): 5,
 (3160, 2003): 6,
 (3203, 2003): 7,
 (3438, 2003): 8,
 (3228, 2003): 9,
 (3328, 2003): 10,
 (3140, 2003): 11,
 (3151, 2003): 12,
 (3221, 2003): 13,
 (3122, 2003): 14,
 (3384, 2003): 15,
 (3106, 2003): 16,
 (3181, 2003): 1,
 (3403, 2003): 2,
 (3280, 2003): 3,
 (3353, 2003): 4,
 (3208, 2003): 5,
 (3307, 2003): 6,
 (3364, 2003): 7,
 (3428, 2003): 8,
 (3177, 2003): 9,
 (3462, 2003): 10,
 (3274, 2003): 11,
 (3150, 2003): 12,
 (3443, 2003): 13,
 (3264, 2003): 14,
 (3283, 2003): 15,
 (3209, 2003): 16,
 (3336, 2004): 1,
 (3163, 2004): 2,
 (3222, 2004): 3,
 (3314, 2004): 4,
 (3323, 2004): 5,
 (3160, 2004): 6,
 (3120, 2004): 7,
 (3439, 2004): 8,
 (3234, 2004): 9,
 (3301, 2004): 10,
 (3364, 2004): 11,
 (3283, 2004): 12,
 (3292, 2004): 13,
 (3453, 2004): 14,
 (3335, 2004): 15,
 (3214, 2004): 16,
 (3181, 2004): 1,
 (3243, 2004): 2,
 (3130, 2004): 3,
 (3403, 2004): 4,
 (3256, 2004): 5,
 (3326, 2004): 6,
 (3278, 2004): 7,
 (3330, 2004): 8,
 (3266, 2004): 9,
 (3417, 2004): 10,
 (3452, 2004): 11,
 (3285, 2004): 12,
 (3263, 2004): 13,
 (3185, 2004): 14,
 (3434, 2004): 15,
 (3322, 2004): 16,
 (3397, 2004): 1,
 (3435, 2004): 2,
 (3328, 2004): 3,
 (3124, 2004): 4,
 (3196, 2004): 5,
 (3390, 2004): 6,
 (3353, 2004): 7,
 (3203, 2004): 8,
 (3177, 2004): 9,
 (3151, 2004): 10,
 (3281, 2004): 11,
 (3307, 2004): 12,
 (3258, 2004): 13,
 (3265, 2004): 14,
 (3252, 2004): 15,
 (3159, 2004): 16,
 (3400, 2004): 1,
 (3345, 2004): 2,
 (3208, 2004): 3,
 (3261, 2004): 4,
 (3274, 2004): 5,
 (3395, 2004): 6,
 (3437, 2004): 7,
 (3277, 2004): 8,
 (3112, 2004): 9,
 (3279, 2004): 10,
 (3396, 2004): 11,
 (3268, 2004): 12,
 (3122, 2004): 13,
 (3251, 2004): 14,
 (3384, 2004): 15,
 (3380, 2004): 16,
 (3261, 2005): 1,
 (3181, 2005): 2,
 (3400, 2005): 3,
 (3336, 2005): 4,
 (3177, 2005): 5,
 (3208, 2005): 6,
 (3130, 2005): 7,
 (3328, 2005): 8,
 (3112, 2005): 9,
 (3222, 2005): 10,
 (3349, 2005): 11,
 (3439, 2005): 12,
 (3251, 2005): 13,
 (3331, 2005): 14,
 (3145, 2005): 15,
 (3391, 2005): 16,
 (3314, 2005): 1,
 (3124, 2005): 2,
 (3278, 2005): 3,
 (3323, 2005): 4,
 (3113, 2005): 5,
 (3438, 2005): 6,
 (3395, 2005): 7,
 (3279, 2005): 8,
 (3203, 2005): 9,
 (3332, 2005): 10,
 (3330, 2005): 11,
 (3184, 2005): 12,
 (3364, 2005): 13,
 (3384, 2005): 14,
 (3229, 2005): 15,
 (3164, 2005): 16,
 (3277, 2005): 1,
 (3390, 2005): 2,
 (3163, 2005): 3,
 (3243, 2005): 4,
 (3435, 2005): 5,
 (3199, 2005): 6,
 (3235, 2005): 7,
 (3425, 2005): 8,
 (3257, 2005): 9,
 (3428, 2005): 10,
 (3350, 2005): 11,
 (3285, 2005): 12,
 (3132, 2005): 13,
 (3171, 2005): 14,
 (3365, 2005): 15,
 (3108, 2005): 16,
 (3397, 2005): 1,
 (3326, 2005): 2,
 (3353, 2005): 3,
 (3403, 2005): 4,
 (3301, 2005): 5,
 (3396, 2005): 6,
 (3268, 2005): 7,
 (3307, 2005): 8,
 (3345, 2005): 9,
 (3453, 2005): 10,
 (3256, 2005): 11,
 (3292, 2005): 12,
 (3426, 2005): 13,
 (3216, 2005): 14,
 (3221, 2005): 15,
 (3441, 2005): 16,
 (3326, 2006): 1,
 (3268, 2006): 2,
 (3124, 2006): 3,
 (3113, 2006): 4,
 (3428, 2006): 5,
 (3196, 2006): 6,
 (3385, 2006): 7,
 (3130, 2006): 8,
 (3323, 2006): 9,
 (3143, 2006): 10,
 (3307, 2006): 11,
 (3292, 2006): 12,
 (3372, 2006): 13,
 (3319, 2006): 14,
 (3357, 2006): 15,
 (3324, 2006): 16,
 (3314, 2006): 1,
 (3397, 2006): 2,
 (3353, 2006): 3,
 (3345, 2006): 4,
 (3417, 2006): 5,
 (3401, 2006): 6,
 (3203, 2006): 7,
 (3435, 2006): 8,
 (3257, 2006): 9,
 (3330, 2006): 10,
 (3395, 2006): 11,
 (3132, 2006): 12,
 (3283, 2006): 13,
 (3171, 2006): 14,
 (3119, 2006): 15,
 (3415, 2006): 16,
 (3181, 2006): 1,
 (3163, 2006): 2,
 (3208, 2006): 3,
 (3277, 2006): 4,
 (3246, 2006): 5,
 (3396, 2006): 6,
 (3439, 2006): 7,
 (3425, 2006): 8,
 (3378, 2006): 9,
 (3281, 2006): 10,
 (3216, 2006): 11,
 (3151, 2006): 12,
 (3454, 2006): 13,
 (3265, 2006): 14,
 (3164, 2006): 15,
 (3380, 2006): 16,
 (3261, 2006): 1,
 (3328, 2006): 2,
 (3390, 2006): 3,
 (3177, 2006): 4,
 (3301, 2006): 5,
 (3199, 2006): 6,
 (3140, 2006): 7,
 (3278, 2006): 8,
 (3449, 2006): 9,
 (3234, 2006): 10,
 (3256, 2006): 11,
 (3409, 2006): 12,
 (3251, 2006): 13,
 (3369, 2006): 14,
 (3337, 2006): 15,
 (3194, 2006): 16,
 (3314, 2007): 1,
 (3345, 2007): 2,
 (3208, 2007): 3,
 (3401, 2007): 4,
 (3203, 2007): 5,
 (3235, 2007): 6,
 (3210, 2007): 7,
 (3143, 2007): 8,
 (3323, 2007): 9,
 (3177, 2007): 10,
 (3449, 2007): 11,
 (3129, 2007): 12,
 (3426, 2007): 13,
 (3125, 2007): 14,
 (3331, 2007): 15,
 (3341, 2007): 16,
 (3397, 2007): 1,
 (3268, 2007): 2,
 (3328, 2007): 3,
 (3326, 2007): 4,
 (3292, 2007): 5,
 (3266, 2007): 6,
 (3279, 2007): 7,
 (3338, 2007): 8,
 (3241, 2007): 9,
 (3395, 2007): 10,
 (3418, 2007): 11,
 (3211, 2007): 12,
 (3265, 2007): 13,
 (3369, 2007): 14,
 (3217, 2007): 15,
 (3179, 2007): 16,
 (3163, 2007): 1,
 (3390, 2007): 2,
 (3261, 2007): 3,
 (3301, 2007): 4,
 (3124, 2007): 5,
 (3462, 2007): 6,
 (3330, 2007): 7,
 (3307, 2007): 8,
 (3453, 2007): 9,
 (3199, 2007): 10,
 (3452, 2007): 11,
 (3151, 2007): 12,
 (3352, 2007): 13,
 (3421, 2007): 14,
 (3226, 2007): 15,
 (3420, 2007): 16,
 (3181, 2007): 1,
 (3435, 2007): 2,
 (3113, 2007): 3,
 (3353, 2007): 4,
 (3277, 2007): 5,
 (3257, 2007): 6,
 (3132, 2007): 7,
 (3396, 2007): 8,
 (3304, 2007): 9,
 (3329, 2007): 10,
 (3140, 2007): 11,
 (3174, 2007): 12,
 (3187, 2007): 13,
 (3415, 2007): 14,
 (3175, 2007): 15,
 (3221, 2007): 16,
 (3163, 2008): 1,
 (3353, 2008): 2,
 (3143, 2008): 3,
 (3438, 2008): 4,
 (3330, 2008): 5,
 (3203, 2008): 6,
 (3235, 2008): 7,
 (3400, 2008): 8,
 (3278, 2008): 9,
 (3210, 2008): 10,
 (3120, 2008): 11,
 (3251, 2008): 12,
 (3364, 2008): 13,
 (3360, 2008): 14,
 (3352, 2008): 15,
 (3165, 2008): 16,
 (3268, 2008): 1,
 (3390, 2008): 2,
 (3124, 2008): 3,
 (3435, 2008): 4,
 (3452, 2008): 5,
 (3338, 2008): 6,
 (3431, 2008): 7,
 (3304, 2008): 8,
 (3462, 2008): 9,
 (3443, 2008): 10,
 (3461, 2008): 11,
 (3307, 2008): 12,
 (3285, 2008): 13,
 (3201, 2008): 14,
 (3156, 2008): 15,
 (3164, 2008): 16,
 (3314, 2008): 1,
 (3261, 2008): 2,
 (3329, 2008): 3,
 (3257, 2008): 4,
 (3243, 2008): 5,
 (3326, 2008): 6,
 (3265, 2008): 7,
 (3208, 2008): 8,
 (3234, 2008): 9,
 (3177, 2008): 10,
 (3199, 2008): 11,
 (3151, 2008): 12,
 (3275, 2008): 13,
 (3190, 2008): 14,
 (3238, 2008): 15,
 (3137, 2008): 16,
 (3397, 2008): 1,
 (3401, 2008): 2,
 (3181, 2008): 3,
 (3328, 2008): 4,
 (3323, 2008): 5,
 (3113, 2008): 6,
 (3393, 2008): 7,
 (3428, 2008): 8,
 (3345, 2008): 9,
 (3216, 2008): 10,
 (3396, 2008): 11,
 (3374, 2008): 12,
 (3229, 2008): 13,
 (3293, 2008): 14,
 (3427, 2008): 15,
 (3331, 2008): 16,
 (3181, 2009): 1,
 (3390, 2009): 2,
 (3326, 2009): 3,
 (3235, 2009): 4,
 (3397, 2009): 5,
 (3400, 2009): 6,
 (3177, 2009): 7,
 (3292, 2009): 8,
 (3277, 2009): 9,
 (3361, 2009): 10,
 (3280, 2009): 11,
 (3123, 2009): 12,
 (3190, 2009): 13,
 (3357, 2009): 14,
 (3364, 2009): 15,
 (3122, 2009): 16,
 (3163, 2009): 1,
 (3401, 2009): 2,
 (3199, 2009): 3,
 (3143, 2009): 4,
 (3438, 2009): 5,
 (3113, 2009): 6,
 (3323, 2009): 7,
 (3196, 2009): 8,
 (3396, 2009): 9,
 (3278, 2009): 10,
 (3208, 2009): 11,
 (3265, 2009): 12,
 (3201, 2009): 13,
 (3299, 2009): 14,
 (3191, 2009): 15,
 (3436, 2009): 16,
 (3328, 2009): 1,
 (3120, 2009): 2,
 (3314, 2009): 3,
 (3338, 2009): 4,
 (3462, 2009): 5,
 (3345, 2009): 6,
 (3353, 2009): 7,
 (3234, 2009): 8,
 (3210, 2009): 9,
 (3433, 2009): 10,
 (3150, 2009): 11,
 (3211, 2009): 12,
 (3285, 2009): 13,
 (3416, 2009): 14,
 (3250, 2009): 15,
 (3341, 2009): 16,
 (3268, 2009): 1,
 (3124, 2009): 2,
 (3257, 2009): 3,
 (3435, 2009): 4,
 (3243, 2009): 5,
 (3261, 2009): 6,
 (3355, 2009): 7,
 (3437, 2009): 8,
 (3428, 2009): 9,
 (3395, 2009): 10,
 (3453, 2009): 11,
 (3180, 2009): 12,
 (3441, 2009): 13,
 (3251, 2009): 14,
 (3427, 2009): 15,
 (3171, 2009): 16,
 (3163, 2010): 1,
 (3326, 2010): 2,
 (3199, 2010): 3,
 (3235, 2010): 4,
 (3438, 2010): 5,
 (3385, 2010): 6,
 (3280, 2010): 7,
 (3396, 2010): 8,
 (3241, 2010): 9,
 (3292, 2010): 10,
 (3343, 2010): 11,
 (3453, 2010): 12,
 (3250, 2010): 13,
 (3256, 2010): 14,
 (3384, 2010): 15,
 (3380, 2010): 16,
 (3397, 2010): 1,
 (3181, 2010): 2,
 (3452, 2010): 3,
 (3124, 2010): 4,
 (3207, 2010): 5,
 (3400, 2010): 6,
 (3261, 2010): 7,
 (3173, 2010): 8,
 (3395, 2010): 9,
 (3216, 2010): 10,
 (3361, 2010): 11,
 (3265, 2010): 12,
 (3201, 2010): 13,
 (3249, 2010): 14,
 (3214, 2010): 15,
 (3122, 2010): 16,
 (3304, 2010): 1,
 (3323, 2010): 2,
 (3328, 2010): 3,
 (3246, 2010): 4,
 (3277, 2010): 5,
 (3210, 2010): 6,
 (3458, 2010): 7,
 (3417, 2010): 8,
 (3301, 2010): 9,
 (3436, 2010): 10,
 (3114, 2010): 11,
 (3132, 2010): 12,
 (3251, 2010): 13,
 (3355, 2010): 14,
 (3156, 2010): 15,
 (3320, 2010): 16,
 (3390, 2010): 1,
 (3401, 2010): 2,
 (3462, 2010): 3,
 (3329, 2010): 4,
 (3208, 2010): 5,
 (3435, 2010): 6,
 (3211, 2010): 7,
 (3234, 2010): 8,
 (3353, 2010): 9,
 (3314, 2010): 10,
 (3177, 2010): 11,
 (3408, 2010): 12,
 (3151, 2010): 13,
 (3190, 2010): 14,
 (3340, 2010): 15,
 (3415, 2010): 16,
 (3124, 2011): 1,
 (3401, 2011): 2,
 (3199, 2011): 3,
 (3277, 2011): 4,
 (3453, 2011): 5,
 (3208, 2011): 6,
 (3353, 2011): 7,
 (3222, 2011): 8,
 (3452, 2011): 9,
 (3256, 2011): 10,
 (3292, 2011): 11,
 (3114, 2011): 12,
 (3320, 2011): 13,
 (3359, 2011): 14,
 (3270, 2011): 15,
 (3341, 2011): 16,
 (3390, 2011): 1,
 (3462, 2011): 2,
 (3417, 2011): 3,
 (3246, 2011): 4,
 (3314, 2011): 5,
 (3234, 2011): 6,
 (3257, 2011): 7,
 (3403, 2011): 8,
 (3385, 2011): 9,
 (3435, 2011): 10,
 (3211, 2011): 11,
 (3201, 2011): 12,
 (3214, 2011): 13,
 (3285, 2011): 14,
 (3355, 2011): 15,
 (3413, 2011): 16,
 (3397, 2011): 1,
 (3323, 2011): 2,
 (3274, 2011): 3,
 (3326, 2011): 4,
 (3210, 2011): 5,
 (3328, 2011): 6,
 (3113, 2011): 7,
 (3266, 2011): 8,
 (3400, 2011): 9,
 (3396, 2011): 10,
 (3241, 2011): 11,
 (3132, 2011): 12,
 (3416, 2011): 13,
 (3205, 2011): 14,
 (3428, 2011): 15,
 (3391, 2011): 16,
 (3163, 2011): 1,
 (3181, 2011): 2,
 (3177, 2011): 3,
 (3268, 2011): 4,
 (3207, 2011): 5,
 (3336, 2011): 6,
 (3235, 2011): 7,
 (3243, 2011): 8,
 (3345, 2011): 9,
 (3265, 2011): 10,
 (3173, 2011): 11,
 (3343, 2011): 12,
 (3384, 2011): 13,
 (3298, 2011): 14,
 (3404, 2011): 15,
 (3216, 2011): 16,
 (3124, 2012): 1,
 (3397, 2012): 2,
 (3174, 2012): 3,
 (3210, 2012): 4,
 (3207, 2012): 5,
 (3304, 2012): 6,
 (3177, 2012): 7,
 (3326, 2012): 8,
 (3196, 2012): 9,
 (3140, 2012): 10,
 (3242, 2012): 11,
 (3201, 2012): 12,
 (3357, 2012): 13,
 (3114, 2012): 14,
 (3404, 2012): 15,
 (3364, 2012): 16,
 (3390, 2012): 1,
 (3181, 2012): 2,
 (3385, 2012): 3,
 (3345, 2012): 4,
 (3376, 2012): 5,
 (3328, 2012): 6,
 (3435, 2012): 7,
 (3452, 2012): 8,
 (3400, 2012): 9,
 (3292, 2012): 10,
 (3276, 2012): 11,
 (3185, 2012): 12,
 (3355, 2012): 13,
 (3166, 2012): 14,
 (3359, 2012): 15,
 (3214, 2012): 16,
 (3163, 2012): 1,
 (3246, 2012): 2,
 (3274, 2012): 3,
 (3336, 2012): 4,
 (3261, 2012): 5,
 (3353, 2012): 6,
 (3453, 2012): 7,
 (3243, 2012): 8,
 (3343, 2012): 9,
 (3235, 2012): 10,
 (3211, 2012): 11,
 (3361, 2012): 12,
 (3431, 2012): 13,
 (3226, 2012): 14,
 (3270, 2012): 15,
 (3341, 2012): 16,
 (3323, 2012): 1,
 (3268, 2012): 2,
 (3401, 2012): 3,
 (3208, 2012): 4,
 (3382, 2012): 5,
 (3116, 2012): 6,
 (3257, 2012): 7,
 (3143, 2012): 8,
 (3234, 2012): 9,
 (3277, 2012): 10,
 (3173, 2012): 11,
 (3195, 2012): 12,
 (3265, 2012): 13,
 (3107, 2012): 14,
 (3298, 2012): 15,
 (3251, 2012): 16,
 (3163, 2013): 1,
 (3246, 2013): 2,
 (3314, 2013): 3,
 (3268, 2013): 4,
 (3277, 2013): 5,
 (3174, 2013): 6,
 (3173, 2013): 7,
 (3435, 2013): 8,
 (3386, 2013): 9,
 (3385, 2013): 10,
 (3452, 2013): 11,
 (3265, 2013): 12,
 (3346, 2013): 13,
 (3107, 2013): 14,
 (3298, 2013): 15,
 (3225, 2013): 16,
 (3323, 2013): 1,
 (3181, 2013): 2,
 (3401, 2013): 3,
 (3376, 2013): 4,
 (3160, 2013): 5,
 (3304, 2013): 6,
 (3329, 2013): 7,
 (3274, 2013): 8,
 (3234, 2013): 9,
 (3177, 2013): 10,
 (3151, 2013): 11,
 (3242, 2013): 12,
 (3355, 2013): 13,
 (3455, 2013): 14,
 (3214, 2013): 15,
 (3404, 2013): 16,
 (3124, 2013): 1,
 (3397, 2013): 2,
 (3417, 2013): 3,
 (3345, 2013): 4,
 (3257, 2013): 5,
 (3328, 2013): 6,
 (3393, 2013): 7,
 (3199, 2013): 8,
 ...}

In [8]:
games_df['WSeed'] = games_df.apply(lambda row: team_season_seed_dict.get((row['WTeamID'], row['Season']),\
                                                                           0), axis=1)

In [9]:
games_df['LSeed'] = games_df.apply(lambda row: team_season_seed_dict.get((row['LTeamID'], row['Season']),\
                                                                           0), axis=1)

In [10]:
games_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,WSeed,LSeed
0,2010,11,3103,63,3237,49,H,0,23,54,...,10,11,27,11,23,7,6,19,0,0
1,2010,11,3104,73,3399,68,N,0,26,62,...,27,14,26,7,20,4,2,27,0,0
2,2010,11,3110,71,3224,59,A,0,29,62,...,23,17,23,8,15,6,0,15,0,0
3,2010,11,3111,63,3267,58,A,0,27,52,...,25,22,22,15,11,14,5,14,0,0
4,2010,11,3119,74,3447,70,H,1,30,74,...,21,21,32,12,14,4,2,14,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,15,18,19,14,24,5,3,14,0,0
70763,2023,113,3385,69,3163,64,A,0,23,63,...,15,11,25,14,12,5,7,19,0,0
70764,2023,113,3416,57,3396,53,H,0,19,60,...,17,16,19,5,9,10,9,20,0,0
70765,2023,113,3437,67,3177,64,H,0,24,67,...,11,21,26,13,12,9,2,14,0,0
70766,2023,113,3466,75,3146,42,A,0,27,62,...,21,8,19,6,15,3,3,12,0,0

In [11]:
games_df['GameID'] = games_df.index
games_df

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,WSeed,LSeed,GameID
0,2010,11,3103,63,3237,49,H,0,23,54,...,11,27,11,23,7,6,19,0,0,0
1,2010,11,3104,73,3399,68,N,0,26,62,...,14,26,7,20,4,2,27,0,0,1
2,2010,11,3110,71,3224,59,A,0,29,62,...,17,23,8,15,6,0,15,0,0,2
3,2010,11,3111,63,3267,58,A,0,27,52,...,22,22,15,11,14,5,14,0,0,3
4,2010,11,3119,74,3447,70,H,1,30,74,...,21,32,12,14,4,2,14,0,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,2023,113,3268,96,3234,68,H,0,34,71,...,18,19,14,24,5,3,14,0,0,70762
70763,2023,113,3385,69,3163,64,A,0,23,63,...,11,25,14,12,5,7,19,0,0,70763
70764,2023,113,3416,57,3396,53,H,0,19,60,...,16,19,5,9,10,9,20,0,0,70764
70765,2023,113,3437,67,3177,64,H,0,24,67,...,21,26,13,12,9,2,14,0,0,70765
70766,2023,113,3466,75,3146,42,A,0,27,62,...,8,19,6,15,3,3,12,0,0,70766

In [12]:
cols_to_keep = ['GameID','Season', 'DayNum', 'WTeamID', 'WSeed', 'WScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3',\
                'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3',\
               'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
winners_df = games_df[cols_to_keep]
winners_df

,GameID,Season,DayNum,WTeamID,WSeed,WScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3103,0,63,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3104,0,73,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3110,0,71,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3111,0,63,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3119,0,74,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3268,0,96,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70763,70763,2023,113,3385,0,69,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70764,70764,2023,113,3416,0,57,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70765,70765,2023,113,3437,0,67,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70766,70766,2023,113,3466,0,75,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [13]:
winners_df['Win1_Lose0'] = 1

<ipython-input-13-e8e23d5c63a1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  winners_df['Win1_Lose0'] = 1

In [14]:
winners_df

,GameID,Season,DayNum,WTeamID,WSeed,WScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3103,0,63,H,0,23,54,...,6,10,11,27,11,23,7,6,19,1
1,1,2010,11,3104,0,73,N,0,26,62,...,14,27,14,26,7,20,4,2,27,1
2,2,2010,11,3110,0,71,A,0,29,62,...,19,23,17,23,8,15,6,0,15,1
3,3,2010,11,3111,0,63,A,0,27,52,...,16,25,22,22,15,11,14,5,14,1
4,4,2010,11,3119,0,74,H,1,30,74,...,11,21,21,32,12,14,4,2,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3268,0,96,H,0,34,71,...,11,15,18,19,14,24,5,3,14,1
70763,70763,2023,113,3385,0,69,A,0,23,63,...,12,15,11,25,14,12,5,7,19,1
70764,70764,2023,113,3416,0,57,H,0,19,60,...,14,17,16,19,5,9,10,9,20,1
70765,70765,2023,113,3437,0,67,H,0,24,67,...,8,11,21,26,13,12,9,2,14,1
70766,70766,2023,113,3466,0,75,A,0,27,62,...,11,21,8,19,6,15,3,3,12,1

In [15]:
dict = {'WTeamID': 'TeamID', 'WSeed': 'Seed', 'WScore': 'Score'}

In [16]:
winners_df.rename(columns = dict, inplace = True)
winners_df

/Users/aheinke/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3103,0,63,H,0,23,54,...,6,10,11,27,11,23,7,6,19,1
1,1,2010,11,3104,0,73,N,0,26,62,...,14,27,14,26,7,20,4,2,27,1
2,2,2010,11,3110,0,71,A,0,29,62,...,19,23,17,23,8,15,6,0,15,1
3,3,2010,11,3111,0,63,A,0,27,52,...,16,25,22,22,15,11,14,5,14,1
4,4,2010,11,3119,0,74,H,1,30,74,...,11,21,21,32,12,14,4,2,14,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3268,0,96,H,0,34,71,...,11,15,18,19,14,24,5,3,14,1
70763,70763,2023,113,3385,0,69,A,0,23,63,...,12,15,11,25,14,12,5,7,19,1
70764,70764,2023,113,3416,0,57,H,0,19,60,...,14,17,16,19,5,9,10,9,20,1
70765,70765,2023,113,3437,0,67,H,0,24,67,...,8,11,21,26,13,12,9,2,14,1
70766,70766,2023,113,3466,0,75,A,0,27,62,...,11,21,8,19,6,15,3,3,12,1

In [17]:
cols_to_keep = ['GameID','Season', 'DayNum', 'LTeamID', 'LSeed', 'LScore', 'WLoc', 'NumOT', 'WFGM', 'WFGA', 'WFGM3',\
                'WFGA3', 'WFTM', 'WFTA', 'WOR', 'WDR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM', 'LFGA', 'LFGM3',\
               'LFGA3', 'LFTM', 'LFTA', 'LOR', 'LDR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
losers_df = games_df[cols_to_keep]
losers_df

,GameID,Season,DayNum,LTeamID,LSeed,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,0,2010,11,3237,0,49,H,0,23,54,...,13,6,10,11,27,11,23,7,6,19
1,1,2010,11,3399,0,68,N,0,26,62,...,21,14,27,14,26,7,20,4,2,27
2,2,2010,11,3224,0,59,A,0,29,62,...,14,19,23,17,23,8,15,6,0,15
3,3,2010,11,3267,0,58,A,0,27,52,...,26,16,25,22,22,15,11,14,5,14
4,4,2010,11,3447,0,70,H,1,30,74,...,17,11,21,21,32,12,14,4,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3234,0,68,H,0,34,71,...,38,11,15,18,19,14,24,5,3,14
70763,70763,2023,113,3163,0,64,A,0,23,63,...,21,12,15,11,25,14,12,5,7,19
70764,70764,2023,113,3396,0,53,H,0,19,60,...,26,14,17,16,19,5,9,10,9,20
70765,70765,2023,113,3177,0,64,H,0,24,67,...,19,8,11,21,26,13,12,9,2,14
70766,70766,2023,113,3146,0,42,A,0,27,62,...,5,11,21,8,19,6,15,3,3,12

In [18]:
losers_df['Win1_Lose0'] = 0

<ipython-input-18-7a994eabc160>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  losers_df['Win1_Lose0'] = 0

In [19]:
losers_df

,GameID,Season,DayNum,LTeamID,LSeed,LScore,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3237,0,49,H,0,23,54,...,6,10,11,27,11,23,7,6,19,0
1,1,2010,11,3399,0,68,N,0,26,62,...,14,27,14,26,7,20,4,2,27,0
2,2,2010,11,3224,0,59,A,0,29,62,...,19,23,17,23,8,15,6,0,15,0
3,3,2010,11,3267,0,58,A,0,27,52,...,16,25,22,22,15,11,14,5,14,0
4,4,2010,11,3447,0,70,H,1,30,74,...,11,21,21,32,12,14,4,2,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3234,0,68,H,0,34,71,...,11,15,18,19,14,24,5,3,14,0
70763,70763,2023,113,3163,0,64,A,0,23,63,...,12,15,11,25,14,12,5,7,19,0
70764,70764,2023,113,3396,0,53,H,0,19,60,...,14,17,16,19,5,9,10,9,20,0
70765,70765,2023,113,3177,0,64,H,0,24,67,...,8,11,21,26,13,12,9,2,14,0
70766,70766,2023,113,3146,0,42,A,0,27,62,...,11,21,8,19,6,15,3,3,12,0

In [20]:
dict = {'LTeamID': 'TeamID', 'LSeed': 'Seed', 'LScore': 'Score'}

In [21]:
losers_df.rename(columns = dict, inplace = True)
losers_df

/Users/aheinke/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3237,0,49,H,0,23,54,...,6,10,11,27,11,23,7,6,19,0
1,1,2010,11,3399,0,68,N,0,26,62,...,14,27,14,26,7,20,4,2,27,0
2,2,2010,11,3224,0,59,A,0,29,62,...,19,23,17,23,8,15,6,0,15,0
3,3,2010,11,3267,0,58,A,0,27,52,...,16,25,22,22,15,11,14,5,14,0
4,4,2010,11,3447,0,70,H,1,30,74,...,11,21,21,32,12,14,4,2,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70762,70762,2023,113,3234,0,68,H,0,34,71,...,11,15,18,19,14,24,5,3,14,0
70763,70763,2023,113,3163,0,64,A,0,23,63,...,12,15,11,25,14,12,5,7,19,0
70764,70764,2023,113,3396,0,53,H,0,19,60,...,14,17,16,19,5,9,10,9,20,0
70765,70765,2023,113,3177,0,64,H,0,24,67,...,8,11,21,26,13,12,9,2,14,0
70766,70766,2023,113,3146,0,42,A,0,27,62,...,11,21,8,19,6,15,3,3,12,0

In [22]:
merged_df2 = pd.concat([winners_df, losers_df])

# sort the merged dataframe by "col_name" in ascending order
sorted_df2 = merged_df2.sort_values('GameID', ascending = True)

# reset the index
ncaa_wmns_df = sorted_df2.reset_index(drop=True)
ncaa_wmns_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3103,0,63,H,0,23,54,...,6,10,11,27,11,23,7,6,19,1
1,0,2010,11,3237,0,49,H,0,23,54,...,6,10,11,27,11,23,7,6,19,0
2,1,2010,11,3399,0,68,N,0,26,62,...,14,27,14,26,7,20,4,2,27,0
3,1,2010,11,3104,0,73,N,0,26,62,...,14,27,14,26,7,20,4,2,27,1
4,2,2010,11,3110,0,71,A,0,29,62,...,19,23,17,23,8,15,6,0,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141529,70764,2023,113,3416,0,57,H,0,19,60,...,14,17,16,19,5,9,10,9,20,1
141530,70765,2023,113,3177,0,64,H,0,24,67,...,8,11,21,26,13,12,9,2,14,0
141531,70765,2023,113,3437,0,67,H,0,24,67,...,8,11,21,26,13,12,9,2,14,1
141532,70766,2023,113,3466,0,75,A,0,27,62,...,11,21,8,19,6,15,3,3,12,1
141533,70766,2023,113,3146,0,42,A,0,27,62,...,11,21,8,19,6,15,3,3,12,0

In [23]:
ncaa_wmns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141534 entries, 0 to 141533
Data columns (total 35 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   GameID      141534 non-null  int64
 1   Season      141534 non-null  int64
 2   DayNum      141534 non-null  int64
 3   TeamID      141534 non-null  int64
 4   Seed        141534 non-null  int64
 5   Score       141534 non-null  int64
 6   WLoc        141534 non-null  object
 7   NumOT       141534 non-null  int64
 8   WFGM        141534 non-null  int64
 9   WFGA        141534 non-null  int64
 10  WFGM3       141534 non-null  int64
 11  WFGA3       141534 non-null  int64
 12  WFTM        141534 non-null  int64
 13  WFTA        141534 non-null  int64
 14  WOR         141534 non-null  int64
 15  WDR         141534 non-null  int64
 16  WAst        141534 non-null  int64
 17  WTO         141534 non-null  int64
 18  WStl        141534 non-null  int64
 19  WBlk        141534 non-null  int64
 20  WPF         141534 non-null  int64
 21  LFGM        141534 non-null  int64
 22  LFGA        141534 non-null  int64
 23  LFGM3       141534 non-null  int64
 24  LFGA3       141534 non-null  int64
 25  LFTM        141534 non-null  int64
 26  LFTA        141534 non-null  int64
 27  LOR         141534 non-null  int64
 28  LDR         141534 non-null  int64
 29  LAst        141534 non-null  int64
 30  LTO         141534 non-null  int64
 31  LStl        141534 non-null  int64
 32  LBlk        141534 non-null  int64
 33  LPF         141534 non-null  int64
 34  Win1_Lose0  141534 non-null  int64
dtypes: int64(34), object(1)
memory usage: 37.8+ MB

In [24]:
wloc_map = {'H': 1, 'A': 2, 'N': 0}
ncaa_wmns_df['WLoc'] = ncaa_wmns_df['WLoc'].map(wloc_map)
ncaa_wmns_df

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3103,0,63,1,0,23,54,...,6,10,11,27,11,23,7,6,19,1
1,0,2010,11,3237,0,49,1,0,23,54,...,6,10,11,27,11,23,7,6,19,0
2,1,2010,11,3399,0,68,0,0,26,62,...,14,27,14,26,7,20,4,2,27,0
3,1,2010,11,3104,0,73,0,0,26,62,...,14,27,14,26,7,20,4,2,27,1
4,2,2010,11,3110,0,71,2,0,29,62,...,19,23,17,23,8,15,6,0,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141529,70764,2023,113,3416,0,57,1,0,19,60,...,14,17,16,19,5,9,10,9,20,1
141530,70765,2023,113,3177,0,64,1,0,24,67,...,8,11,21,26,13,12,9,2,14,0
141531,70765,2023,113,3437,0,67,1,0,24,67,...,8,11,21,26,13,12,9,2,14,1
141532,70766,2023,113,3466,0,75,2,0,27,62,...,11,21,8,19,6,15,3,3,12,1
141533,70766,2023,113,3146,0,42,2,0,27,62,...,11,21,8,19,6,15,3,3,12,0

In [ ]:
X = ncaa_wmns_df.drop('Win1_Lose0', axis=1)
y = ncaa_wmns_df['Win1_Lose0']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
xgb_model = xgb.XGBClassifier()

In [ ]:
xgb_model.fit(X_train, y_train)

In [ ]:
y_pred = xgb_model.predict(X_test)

In [ ]:
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))

In [25]:
ncaa_wmns_df2 = ncaa_wmns_df.loc[ncaa_wmns_df['Season'] < 2023]
ncaa_wmns_df2

,GameID,Season,DayNum,TeamID,Seed,Score,WLoc,NumOT,WFGM,WFGA,...,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF,Win1_Lose0
0,0,2010,11,3103,0,63,1,0,23,54,...,6,10,11,27,11,23,7,6,19,1
1,0,2010,11,3237,0,49,1,0,23,54,...,6,10,11,27,11,23,7,6,19,0
2,1,2010,11,3399,0,68,0,0,26,62,...,14,27,14,26,7,20,4,2,27,0
3,1,2010,11,3104,0,73,0,0,26,62,...,14,27,14,26,7,20,4,2,27,1
4,2,2010,11,3110,0,71,2,0,29,62,...,19,23,17,23,8,15,6,0,15,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132333,66166,2022,151,3390,1,58,0,0,21,57,...,8,13,11,23,10,11,11,3,16,0
132334,66167,2022,151,3376,1,72,0,0,27,57,...,4,7,11,18,5,15,13,2,17,1
132335,66167,2022,151,3257,1,59,0,0,27,57,...,4,7,11,18,5,15,13,2,17,0
132336,66168,2022,153,3376,1,64,0,0,22,60,...,1,4,3,16,14,14,4,5,21,1
132337,66168,2022,153,3163,2,49,0,0,22,60,...,1,4,3,16,14,14,4,5,21,0

In [26]:
X = ncaa_wmns_df2.drop(['Win1_Lose0', 'WFGM', 'LFGM'], axis=1)
y = ncaa_wmns_df2['Win1_Lose0']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
xgb_model = xgb.XGBClassifier()

In [28]:
xgb_model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [29]:
y_pred = xgb_model.predict(X_test)

In [30]:
print(accuracy_score(y_test, y_pred))
print(precision_score(y_test, y_pred))
print(recall_score(y_test, y_pred))
print(f1_score(y_test, y_pred))

0.9073976122109717
0.9046621267679413
0.9112769485903814
0.9079574899545608

The outcome of the code represents the evaluation metrics for a trained XGBoost classifier model on the test dataset.

The accuracy score of 0.9073976122109717 indicates the proportion of correctly predicted outcomes out of all predictions made by the model.

The precision score of 0.9046621267679413 indicates the proportion of true positive predictions out of all positive predictions made by the model.

The recall score of 0.9112769485903814 indicates the proportion of true positive predictions out of all actual positive outcomes in the test dataset.

The F1 score of 0.9079574899545608 is the harmonic mean of precision and recall and represents the balance between precision and recall of the model.

In summary, the XGBoost model achieved good performance with high accuracy, precision, recall, and F1 scores on the test dataset, indicating that it can effectively predict the outcomes of NCAA Women's Basketball games.

In [31]:
# Split your data into features and target variable
X = ncaa_wmns_df2.drop('Win1_Lose0', axis=1)
y = ncaa_wmns_df2['Win1_Lose0']

# Define your XGBoost model and parameters
model = xgb.XGBRegressor(
    objective='reg:squarederror',
    n_estimators=100,
    learning_rate=0.1,
    max_depth=5,
    subsample=0.8,
    colsample_bytree=0.8
)

# Define your cross-validation strategy
kfold = KFold(n_splits=10, shuffle=True, random_state=42)

# Evaluate your model using cross-validation
scores = cross_val_score(model, X, y, cv=kfold)

# Print the average and standard deviation of the scores
print("Mean score: {:.2f}".format(scores.mean()))
print("Standard deviation: {:.2f}".format(scores.std()))

Mean score: 0.82
Standard deviation: 0.00

In [ ]:
# Split your data into features and target variable
X = ncaa_wmns_df2.drop('Win1_Lose0', axis=1)
y = ncaa_wmns_df2['Win1_Lose0']

model = xgb.XGBRegressor()

# define the cross-validation procedure
cv = KFold(n_splits=5, shuffle=True, random_state=123)

# fit the model using cross-validation
scores = xgb.cv(model.get_params(), xgb.DMatrix(X), nfold=5, metrics='rmse', seed=123)

# calculate the mean cross-validation score
mean_score = scores['test-rmse-mean'].mean()
print('Mean RMSE:', mean_score)

In [ ]:
ncaa_wmns_now_df = ncaa_wmns_df.loc[ncaa_wmns_df['Season'] == 2023]
ncaa_wmns_now_df

In [ ]:
# Create a list of all possible team matchups
team_ids = ncaa_wmns_now_df['TeamID'].unique()
team_matchups = list(itertools.product(team_ids, repeat=2))

# Create a new DataFrame with all possible team matchups
matchup_df = pd.DataFrame(team_matchups, columns=['Team1', 'Team2'])

# Make a copy of the matchup DataFrame and swap the Team1 and Team2 columns
reverse_matchup_df = matchup_df[['Team2', 'Team1']].rename(columns={'Team2': 'Team1', 'Team1': 'Team2'})

# Combine the original and reversed matchup DataFrames to get all possible matchups
all_matchups_df = pd.concat([matchup_df, reverse_matchup_df]).drop_duplicates().reset_index(drop=True)

# Use your XGBoost model to predict the winner of each matchup
xgb_predictions = xgb_model.predict(all_matchups_df)

# Create a new DataFrame with the predicted winners and matchup information
predictions_df = all_matchups_df.copy()
predictions_df['Winner'] = xgb_predictions

In [ ]:
import itertools

team1 = ncaa_wmns_now_df[['TeamID']].rename(columns={'TeamID': 'Team1'})
team2 = ncaa_wmns_now_df[['TeamID']].rename(columns={'TeamID': 'Team2'})

all_matchups_df = pd.DataFrame(list(itertools.product(team1['Team1'], team2['Team2'])), columns=['Team1', 'Team2'])

prediction_columns = ['Season', 'TeamID', 'Score', 'Seed', 'NumOT', 'WLoc', 'WFGM3', 'WFTM', 'WDR', 'WOR', 'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM3', 'LFTM', 'LDR', 'LOR', 'LAst', 'LTO', 'LStl', 'LBlk', 'LPF']
ncaa_wmns_now_df = ncaa_wmns_now_df[prediction_columns]


# Merge the ncaa_wmns_df2 DataFrame with the all_matchups_df DataFrame on the TeamID column
all_matchups_df = pd.merge(all_matchups_df, ncaa_wmns_now_df, left_on='Team1', right_on='TeamID')
all_matchups_df = pd.merge(all_matchups_df, ncaa_wmns_now_df, left_on='Team2', right_on='TeamID', suffixes=('_1', '_2'))

# Drop the TeamID columns
all_matchups_df.drop(['TeamID_1', 'TeamID_2'], axis=1, inplace=True)

# Reorder the columns to match the order in the ncaa_wmns_df2 DataFrame
all_matchups_df = all_matchups_df[ncaa_wmns_now_df.columns[:-1]]

In [ ]:
import itertools

team1 = ncaa_wmns_now_df[['TeamID']].rename(columns={'TeamID': 'Team1'})
team2 = ncaa_wmns_now_df[['TeamID']].rename(columns={'TeamID': 'Team2'})

all_matchups_df = pd.DataFrame(list(itertools.product(team1['Team1'], team2['Team2'])), columns=['Team1', 'Team2'])

In [ ]:
prediction_columns = ['Season', 'TeamID', 'Score', 'Seed', 'NumOT', 'WLoc', 'WFGM3', 'WFTM', 'WDR', 'WOR',\
                      'WAst', 'WTO', 'WStl', 'WBlk', 'WPF', 'LFGM3', 'LFTM', 'LDR', 'LOR', 'LAst', 'LTO',\
                      'LStl', 'LBlk', 'LPF']
ncaa_wmns_now_df = ncaa_wmns_now_df[prediction_columns]

In [ ]:
# Merge the ncaa_wmns_df2 DataFrame with the all_matchups_df DataFrame on the TeamID column
all_matchups_df = pd.merge(all_matchups_df, ncaa_wmns_now_df, left_on='Team1', right_on='TeamID')

In [ ]:
all_matchups_df = pd.merge(all_matchups_df, ncaa_wmns_now_df, left_on='Team2', right_on='TeamID', suffixes=('_1', '_2'))

In [ ]:
# Drop the TeamID columns
all_matchups_df.drop(['TeamID_1', 'TeamID_2'], axis=1, inplace=True)

In [ ]:
# Reorder the columns to match the order in the ncaa_wmns_df2 DataFrame
all_matchups_df = all_matchups_df[ncaa_wmns_now_df.columns[:-1]]

In [ ]:
# Define the column you want to generate all possible pairs for
column_name = 'TeamID'

# Get all unique values in the column
unique_values = ncaa_wmns_now_df[column_name].unique()

# Generate all possible pairs of values
value_pairs = list(itertools.combinations(unique_values, 2))

# Create a DataFrame to store the predictions for each pair
predictions_df = pd.DataFrame(columns=['Team' + '_1', 'Team' + '_2', 'Prediction'])

# Loop through each pair of values and make a prediction
for pair in value_pairs:
    # Create a new DataFrame containing the features for the matchup you want to predict
    matchup_features = pd.DataFrame({
        'GameID': [0, 0],
        'Season': [0, 0],
        'DayNum': [0, 0],
        'TeamID': [pair[0], pair[1]],
        'Seed': [0, 0],
        'Score': [0, 0],
        'WLoc': [0, 0],
        'NumOT': [0, 0],
        'WFGA': [0, 0],
        'WFGM3': [0, 0],
        'WFGA3': [0, 0],
        'WFTM': [0, 0],
        'WFTA': [0, 0],
        'WOR': [0, 0],
        'WDR': [0, 0],
        'WAst': [0, 0],
        'WTO': [0, 0],
        'WStl': [0, 0],
        'WBlk': [0, 0],
        'WPF': [0, 0],
        'LFGA': [0, 0],
        'LFGM3': [0, 0],
        'LFGA3': [0, 0],
        'LFTM': [0, 0],
        'LFTA': [0, 0],
        'LOR': [0, 0],
        'LDR': [0, 0],
        'LAst': [0, 0],
        'LTO': [0, 0],
        'LStl': [0, 0],
        'LBlk': [0, 0],
        'LPF': [0, 0],
    })

    # Replace prediction = xgb_model.predict(matchup_features) with the following line
    prediction = xgb_model.predict_proba(matchup_features)

    # Extract the probability of the positive class (i.e., team 1 wins)
    proba_team_1_wins = prediction[0, 1]

    # Append the prediction to the DataFrame
    predictions_df = predictions_df.append({
        'Team' + '_1': pair[0],
        'Team' + '_2': pair[1],
        'Prediction': proba_team_1_wins
    }, ignore_index=True)

# Print the predictions DataFrame
predictions_df

In [ ]:
# Define the column you want to generate all possible pairs for
column_name = 'TeamID'

# Get all unique values in the column
unique_values = ncaa_wmns_now_df[column_name].unique()

# Generate all possible pairs of values
value_pairs = list(itertools.combinations(unique_values, 2))

# Create a DataFrame to store the predictions for each pair
predictions_df = pd.DataFrame(columns=['Team' + '_1', 'Team' + '_2', 'Prediction'])

# Loop through each pair of values and make a prediction
for pair in value_pairs:
    # Create a new DataFrame containing the features for the matchup you want to predict
    matchup_features = pd.DataFrame({
        'GameID': [0, 1, 2, 3],
        'Season': [0, 0, 0, 0],
        'DayNum': [0, 0, 0, 0],
        'TeamID': [pair[0], pair[1], pair[0], pair[1]],
        'Seed': [0, 0, 0, 0],
        'Score': [0, 0, 0, 0],
        'WLoc': [0, 0, 0, 0],
        'NumOT': [0, 0, 0, 0],
        'WFGA': [0, 0, 0, 0],
        'WFGM3': [0, 0, 0, 0],
        'WFGA3': [0, 0, 0, 0],
        'WFTM': [0, 0, 0, 0],
        'WFTA': [0, 0, 0, 0],
        'WOR': [0, 0, 0, 0],
        'WDR': [0, 0, 0, 0],
        'WAst': [0, 0, 0, 0],
        'WTO': [0, 0, 0, 0],
        'WStl': [0, 0, 0, 0],
        'WBlk': [0, 0, 0, 0],
        'WPF': [0, 0, 0, 0],
        'LFGA': [0, 0, 0, 0],
        'LFGM3': [0, 0, 0, 0],
        'LFGA3': [0, 0, 0, 0],
        'LFTM': [0, 0, 0, 0],
        'LFTA': [0, 0, 0, 0],
        'LOR': [0, 0, 0, 0],
        'LDR': [0, 0, 0, 0],
        'LAst': [0, 0, 0, 0],
        'LTO': [0, 0, 0, 0],
        'LStl': [0, 0, 0, 0],
        'LBlk': [0, 0, 0, 0],
        'LPF': [0, 0, 0, 0],
    })

    # Replace prediction = xgb_model.predict(matchup_features) with the following line
    prediction = xgb_model.predict_proba(matchup_features)

    # Extract the probability of the positive class (i.e., team 1 wins)
    proba_team_1_wins = prediction[0, 1]

    # Append the prediction to the DataFrame
    predictions_df = predictions_df.append({
        'Team' + '_1': pair[0],
        'Team' + '_2': pair[1],
        'Prediction': proba_team_1_wins
    }, ignore_index=True)

# Print the predictions DataFrame
predictions_df

In [ ]:
predictions_df.value_counts('Prediction')

In [ ]:
# Define the column you want to generate all possible pairs for
column_name = 'TeamID'

# Get all unique values in the column
unique_values = ncaa_wmns_now_df[column_name].unique()

# Generate all possible pairs of values
value_pairs = list(itertools.combinations(unique_values, 2))

# Create a DataFrame to store the predictions for each pair
predictions_df2 = pd.DataFrame(columns=['Team' + '_1', 'Team' + '_2', 'Prediction'])

# Loop through each pair of values and make a prediction
for pair in value_pairs:
    # Create a new DataFrame containing the features for the matchup you want to predict
    matchup_features = pd.DataFrame({
        'GameID': [0, 1, 2, 3],
        'Season': [0, 0, 0, 0],
        'DayNum': [0, 0, 0, 0],
        'TeamID': [pair[0], pair[1], pair[0], pair[1]],
        'Seed': [0, 0, 0, 0],
        'Score': [0, 0, 0, 0],
        'WLoc': [0, 0, 0, 0],
        'NumOT': [0, 0, 0, 0],
        'WFGA': [0, 0, 0, 0],
        'WFGM3': [0, 0, 0, 0],
        'WFGA3': [0, 0, 0, 0],
        'WFTM': [0, 0, 0, 0],
        'WFTA': [0, 0, 0, 0],
        'WOR': [0, 0, 0, 0],
        'WDR': [0, 0, 0, 0],
        'WAst': [0, 0, 0, 0],
        'WTO': [0, 0, 0, 0],
        'WStl': [0, 0, 0, 0],
        'WBlk': [0, 0, 0, 0],
        'WPF': [0, 0, 0, 0],
        'LFGA': [0, 0, 0, 0],
        'LFGM3': [0, 0, 0, 0],
        'LFGA3': [0, 0, 0, 0],
        'LFTM': [0, 0, 0, 0],
        'LFTA': [0, 0, 0, 0],
        'LOR': [0, 0, 0, 0],
        'LDR': [0, 0, 0, 0],
        'LAst': [0, 0, 0, 0],
        'LTO': [0, 0, 0, 0],
        'LStl': [0, 0, 0, 0],
        'LBlk': [0, 0, 0, 0],
        'LPF': [0, 0, 0, 0],
    })
    # Make a prediction using your XGBoost model
    prediction = xgb_model.predict(matchup_features)

    # Append the prediction to the DataFrame
    predictions_df2 = predictions_df2.append({
        'Team' + '_1': pair[0],
        'Team' + '_2': pair[1],
        'Prediction': prediction[0]
    }, ignore_index=True)

# Print the predictions DataFrame
predictions_df2

In [ ]:
predictions_df2.value_counts('Prediction')

In [ ]:
games_df.groupby(['WTeamID', 'LTeamID']).mean()

In [ ]:
url = '/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/Womens_NCAAW_Data_2023.html'  # Replace with the path to your HTML file
df = pd.read_html(url)[0]
df.to_csv('data.csv', index=False)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
games_df.groupby(['WTeamID', 'LTeamID', 'WLoc']).mean()

In [ ]:
teams_df = pd.read_csv('/Users/aheinke/Documents/Flatiron/NYC-DS-010923/Phase_3/Phase3_Proj/PROJ_CSVs/WTeamConferences.csv')
teams_df

In [ ]:
teams_now_df = teams_df[teams_df['Season'] == 2023]
teams_now_df

In [ ]:
import itertools
# create a list of all possible pairs of values
pairs = list(itertools.combinations(teams_now_df['TeamID'], 2))

# create a new dataframe with the pairs
pair_df = pd.DataFrame(pairs, columns=['Pair1', 'Pair2'])

# print the new dataframe
pair_df

In [ ]:
now_season_df = ncaa_wmns_df[ncaa_wmns_df['Season'] == 2023]
now_season_df

In [ ]:
X = ncaa_wmns_df2.drop(['Win1_Lose0', 'WFGM', 'LFGM'], axis=1)
y = ncaa_wmns_df2['Win1_Lose0']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
X_train

xgb_model = xgb.XGBClassifier()

xgb_model.fit(X_train, y_train)

y_pred = xgb_model.predict(X_test)

# Prepare the new dataset
new_data = ncaa_wmns_now_df.drop(['Win1_Lose0', 'WFGM', 'LFGM'], axis=1)

new_data = new_data[X_train.columns]

# Scale the new data
X_new = scaler.transform(new_data)

# Predict outcomes
y_pred2 = xgb_model.predict(X_new)